@import "./less-components/_reset.less";
@import "./less-components/_var.less";
@import "./less-components/_mixin.less";
html {
    height: 100%;
}

body {
    font-family: -apple-system, PingFang SC, Hiragino Sans GB, Arial, Microsoft YaHei, Helvetica Neue, sans-serif;
    background-color: #f7f7f7;
}

.mui-bar {
    .mui-title {
        display: flex;
        display: -webkit-flex;
        align-items: center;
        -webkit-align-items: center;
        justify-content: center;
        -webkit-justify-content: center;
        .icon-more {
            font-size: 24px;
        }
    }
}

.main {
    display: none;
}

.sub-bar {
    height: 40px;
    line-height: 40px;
    width: 100%;
    background-color: #fff;
    position: fixed;
    left: 0;
    right: 0;
    top: 44px;
    z-index: 3;
    ul {
        display: flex;
        display: -webkit-flex;
        li {
            flex: 1;
            -webkit-flex: 1;
            text-align: center;
            position: relative;
            a {
                display: block;
                font-size: 16px;
                color: #333;
                &:active {
                    background-color: #eee;
                }
            }
            &.active {
                font-weight: 700;
                a {
                    color: @base;
                }
                &:after {
                    content: '';
                    display: block;
                    position: absolute;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    height: 2px;
                    background-color: @base;
                }
            }
        }
    }
}

.boot {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: #fff;
    -webkit-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    span {
        position: absolute;
        right: 10px;
        top: 10px;
        background-color: rgba(0, 0, 0, .6);
        color: #fff;
        padding: 5px 10px;
        z-index: 2;
        font-size: 12px;
    }
}

.swiper-container {
    height: 160px;
    position: relative;
    .swiper-pagination {
        position: absolute;
        right: 0;
        bottom: 10px;
        text-align: right;
    }
    .swiper-slide {
        -webkit-background-size: cover;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 50%;
    }
}

.news-list {
    margin-bottom: 8px;
    li {
        padding: 15px;
        height: 110px;
        position: relative;
        .mui-media-object {
            -webkit-border-radius: 3px;
            -moz-border-radius: 3px;
            border-radius: 3px;
            height: 80px;
            line-height: 80px;
            ;
            width: 120px;
            max-width: 120px;
            -webkit-background-size: cover;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: 50%;
        }
        .mui-media-body {
            display: flex;
            display: -webkit-flex;
            flex-direction: column;
            -webkit-flex-direction: column;
            justify-content: space-between;
            -webkit-justify-content: space-between;
            height: 80px;
            position: relative;
            .title {
                font-size: 16px;
                .line-clamp(2);
                color: #333;
            }
            .date {
                color: #999;
                font-size: 14px;
            }
            .desc {
                color: #999;
                font-size: 14px;
                .line-clamp(1);
            }
            footer {
                position: absolute;
                right: 0;
                bottom: 0;
                color: @base;
                span {
                    margin-left: 10px;
                    padding: 2px 5px;
                }
            }
        }
        &:last-child:after {
            height: 0;
        }
        &:after {
            .lineBottom(15px);
        }
        &:active {
            background-color: #f1f1f1;
        }
    }
}

.news-detail {
    background-color: #fff;
    header {
        padding: 15px;
        position: relative;
        h1 {
            font-size: 18px;
            text-align: center;
        }
        p {
            font-size: 14px;
            color: #999;
            margin-bottom: 0;
            margin-top: 6px;
            width: 100%;
        }
        .desc {
            font-size: 14px;
            color: #999;
            position: relative;
            margin: 10px;
            border: 1px solid #C8C7CC;
            padding: 10px;
            &:before {
                content: '摘 要：'
            }
        }
    }
    article {
        padding: 15px;
        img {
            display: block;
            width: 100%;
        }
        p {
            font-size: 16px;
            line-height: 24px;
            margin: 10px 0;
            color: #333;
        }
        video {
            width: 100%;
        }
    }
    .unread {
        font-size: 14px;
        color: #999;
        position: relative;
        margin: 10px;
        border: 1px solid #C8C7CC;
        padding: 10px;
        &:before {
            content: '未阅读名单：'
        }
    }
    .like {
        transition: all .2s ease-in;
        padding: 8px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        border: 1px solid rgb(234, 65, 60);
        color: rgb(234, 65, 60);
        text-align: center;
        margin: 0 auto;
        width: 40%;
        font-size: 14px;
        box-sizing: border-box;
        &.active {
            color: #fff;
            background-color: rgb(234, 65, 60);
            i {
                color: #fff;
            }
        }
        i {
            display: inline-block;
            font-size: 14px;
            margin-right: 5px;
        }
    }
    .share {
        width: 75%;
        margin: 40px auto 0;
        padding-bottom: 40px;
        .line {
            position: relative;
            &:before {
                content: '';
                position: absolute;
                left: 0;
                right: 0;
                top: 0;
                background-color: #C8C7CC;
                height: 1px;
                transform: translateY(.5);
            }
            &:after {
                content: '分享到';
                display: block;
                padding: 0 10px;
                background-color: #fff;
                color: #999;
                position: absolute;
                left: 50%;
                top: -10px;
                font-size: 14px;
                transform: translateX(-50%);
                -webkit-transform: translateX(-50%);
            }
        }
        .share-item {
            padding-top: 40px;
            text-align: center;
            i {
                display: inline-block;
                margin: 0 10px;
                font-size: 50px;
                color: rgb(77, 209, 63);
            }
        }
    }
}

.footer-tab {
    position: fixed;
    z-index: 10;
    right: 0;
    left: 0;
    bottom: 0;
    padding: 0 10px;
    -webkit-box-shadow: 0 1px 6px #ccc;
    -moz-box-shadow: 0 1px 6px #ccc;
    box-shadow: 0 1px 6px #ccc;
    display: flex;
    display: -webkit-flex;
    height: 50px;
    background-color: #fff;
    text-align: center;
    &:before {
        content: '';
        height: 1px;
        transform: scaleY(.5);
        background-color: #C8C7CC;
        left: 0;
        right: 0;
        top: 0;
    }
    a {
        flex: 1;
        -webkit-flex: 1;
        display: flex;
        display: -webkit-flex;
        flex-direction: column;
        -webkit-flex-direction: column;
        justify-content: center;
        -webkit-justify-content: center;
        color: #333;
        font-size: 13px;
        i {
            display: inline-block;
            font-size: 22px;
            width: 100%;
            height: 30px;
            position: relative;
            &:before {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -45%);
                -webkit-transform: translate(-50%, -45%);
            }
        }
        &.active {
            color: @base;
            i {
                color: @base;
            }
        }
    }
}

.manager-entry {
    display: flex;
    display: -webkit-flex;
    padding: 20px;
    background-color: #fff;
    margin-bottom: 8px;
    span {
        background-color: #d4463c;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        color: #fff;
        font-size: 16px;
        flex: 1;
        -webkit-flex: 1;
        display: flex;
        display: -webkit-flex;
        justify-content: center;
        -webkit-justify-content: center;
        align-items: center;
        -webkit-align-items: center;
        padding: 10px 0;
        i {
            margin-right: 10px;
            font-size: 22px;
        }
        &:last-child {
            background-color: #b82419;
            margin-left: 20px;
        }
    }
}

.global-header {
    display: flex;
    display: -webkit-flex;
    justify-content: space-between;
    -webkit-justify-content: space-between;
    align-items: center;
    -webkit-align-items: center;
    padding: 10px 15px;
    .title {
        font-size: 16px;
        position: relative;
        padding: 5px 0 5px 15px;
        font-weight: normal;
        margin: 0;
        &:before {
            content: '';
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            width: 5px;
            background-color: @base;
            -webkit-border-radius: 3px;
            -moz-border-radius: 3px;
            border-radius: 3px;
        }
    }
    .more {
        font-size: 14px;
        color: #999;
    }
}

.activity-block {
    margin: 30px 30px 0;
    border: 1px solid #db6159;
    background-color: #fff;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    position: relative;
    display: flex;
    display: -webkit-flex;
    flex-wrap: wrap;
    li {
        width: 33.33%;
        box-sizing: border-box;
        padding: 30px 20px;
        display: flex;
        display: -webkit-flex;
        flex-direction: column;
        -webkit-flex-direction: column;
        justify-content: center;
        -webkit-justify-content: center;
        align-items: center;
        -webkit-align-items: center;
        color: #db6159;
        position: relative;
        font-size: 14px;
        text-align: center;
        i {
            color: #db6159;
            font-size: 32px;
            margin-bottom: 20px;
        }
        &:after {
            .lineBottom(0);
        }
        &:before {
            .lineLeft();
        }
        &:first-child:before,
        &:nth-child(4):before {
            display: none;
        }
    }
}

.activity {
    ul.activity-list {
        background-color: #fff;
        li {
            padding: 15px;
            position: relative;
            .img {
                position: relative;
                width: 100%;
                height: 160px;
                -webkit-background-size: cover;
                background-size: cover;
                background-position: 50%;
                background-repeat: no-repeat;
                &:after {
                    content: '未提交';
                    position: absolute;
                    right: 0;
                    top: 0;
                    padding: 2px 5px;
                    background-color: #bbb;
                    color: #fff;
                    font-size: 14px;
                }
                &.invalid:after {
                    content: '失效';
                    position: absolute;
                    right: 0;
                    top: 0;
                    padding: 2px 5px;
                    background-color: #bbb;
                    color: #fff;
                    font-size: 14px;
                }
                &.withdraw:after {
                    content: '打回';
                    background-color: #b6976b;
                }
                &.waiting:after {
                    content: '待审核';
                    background-color: #bbb;
                }
                &.active:after {
                    content: '已审核';
                    background-color: @base;
                }
                span {
                    position: absolute;
                    right: 0;
                    bottom: 0;
                    padding: 2px 5px;
                    color: #fff;
                    font-size: 14px;
                    background-color: rgba(0, 0, 0, .5);
                }
            }
            h1 {
                font-size: 18px;
                font-weight: 700;
                margin-top: 15px;
            }
            p {
                margin-top: 15px;
                margin-bottom: 0;
                font-size: 14px;
                color: #666;
                .ell;
                .activitySort {
                    float: right;
                    color: red;
                    font-size: 14px;
                    padding: 0 10px;
                }
                .status {
                    float: right;
                    color: red;
                    font-size: 14px;
                }
            }
            #dec {
                margin-top: 5px;
                color: grey;
                font-size: 14px;
            }
            &:last-child:after {
                height: 0;
            }
            &:after {
                .lineBottom(15px);
            }
            &:active {
                background-color: #f1f1f1;
            }
        }
    }
}

.activity-panel {
    background: url(../img/activityBg.jpg);
    -webkit-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 50px 0;
    min-height: 100%;
    .tips {
        width: 100%;
        text-align: center;
        margin-top: 20px;
        color: #fff;
        text-shadow: 0 1px 1px rgba(0, 0, 0, .6);
    }
    .org-info {
        padding: 20px;
        text-align: center;
        h1 {
            font-size: 18px;
            color: @base;
            text-align: center;
            .ell;
            line-height: 1.5;
        }
        .stars {
            text-align: center;
            margin-top: 15px;
            i {
                color: @base;
                font-size: 24px;
                margin-left: 15px;
                margin-right: 15px;
            }
        }
        .check {
            text-align: center;
            margin-top: 15px;
            i {
                color: @base;
                font-size: 34px;
                margin-left: 15px;
                margin-right: 15px;
                position: relative;
                &:after {
                    content: attr(data-progress);
                    color: #fff;
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%, -50%);
                    font-size: 12px;
                    text-shadow: 0 0 1px rgb(0, 0, 0);
                }
            }
        }
        .check-ctrl {
            padding: 8px 15px;
            border-radius: 5px;
            color: @base;
            border: 1px solid @base;
        }
    }
}

.activity-detail {
    margin-bottom: 10px;
    .banner {
        -webkit-background-size: cover;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 50%;
        width: 100%;
        height: 200px;
        position: relative;
        &:after {
            content: '未提交';
            position: absolute;
            right: 0;
            top: 0;
            padding: 2px 5px;
            background-color: #bbb;
            color: #fff;
            font-size: 14px;
        }
        &.invalid:after {
            content: '失效';
            position: absolute;
            right: 0;
            top: 0;
            padding: 2px 5px;
            background-color: #bbb;
            color: #fff;
            font-size: 14px;
        }
        &.withdraw:after {
            content: '打回';
            background-color: #b6976b;
        }
        &.waiting:after {
            content: '待审核';
            background-color: #bbb;
        }
        &.active:after {
            content: '已审核';
            background-color: @base;
        }
    }
    ul {
        margin: 10px 0;
        li {
            font-size: 16px;
            i {
                font-size: 20px;
                display: block;
                width: 30px;
                height: 30px;
                color: @base;
                &:before {
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    -webkit-transform: translateY(-50%);
                }
            }
        }
    }
    article {
        background-color: #fff;
        padding: 20px;
        margin-bottom: 20px;
        header {
            margin-bottom: 10px;
            display: flex;
            display: -webkit-flex;
            align-items: center;
            -webkit-align-items: center;
            i {
                font-size: 20px;
                display: block;
                width: 30px;
                height: 30px;
                color: @base;
                position: relative;
                &:before {
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    -webkit-transform: translateY(-50%);
                }
            }
        }
        textarea {
            color: #333;
            font-size: 16px;
            line-height: 24px;
            min-height: 300px;
            border: none;
        }
        p {
            color: #333;
        }
    }
    footer {
        background-color: @base;
        &.active {
            background-color: #d47974;
        }
    }
}

.live-list {
    ul {
        background-color: #fff;
        li {
            padding: 15px;
            position: relative;
            .img {
                width: 100%;
                height: 160px;
                -webkit-background-size: cover;
                background-size: cover;
                background-position: 50%;
                background-repeat: no-repeat;
            }
            p {
                margin-top: 0;
                margin-bottom: 15px;
                font-size: 16px;
                color: #333;
                .ell;
            }
            footer {
                margin-top: 15px;
                text-align: right;
                span {
                    color: #666;
                    margin-right: 15px;
                    font-size: 14px;
                    &.active {
                        color: @base;
                    }
                    &:last-child {
                        margin: 0;
                    }
                    i {
                        margin-right: 5px;
                        font-size: 20px;
                    }
                }
            }
            &:last-child:after {
                height: 0;
            }
            &:after {
                .lineBottom(15px);
            }
            &:active {
                background-color: #f1f1f1;
            }
        }
    }
}

#liveDetail {
    .live-video {
        position: relative;
        video {
            display: block;
            width: 100%;
            height: 300px;
            background-color: #000;
        }
        span {
            position: absolute;
            right: 10px;
            top: 10px;
            background-color: rgba(255, 255, 255, .3);
            padding: 5px 10px 5px 25px;
            -webkit-border-radius: 20px;
            -moz-border-radius: 20px;
            border-radius: 20px;
            font-size: 14px;
            color: #fff;
            &:before {
                content: '';
                position: absolute;
                left: 15px;
                top: 50%;
                width: 5px;
                height: 5px;
                background-color: #eee;
                -webkit-border-radius: 50%;
                -moz-border-radius: 50%;
                border-radius: 50%;
                transform: translateY(-50%);
                -webkit-transform: translateY(-50%);
            }
            &.active:before {
                background-color: @base;
            }
        }
    }
    h1 {
        font-size: 16px;
        line-height: 24px;
        color: #333;
        font-weight: normal;
        margin: 20px;
    }
    .brief {
        padding: 10px;
        margin: 20px;
        color: #999;
        font-size: 14px;
        border: 1px solid #C8C7CC;
    }
    .count {
        margin-left: 20px;
        color: #999;
        font-size: 14px;
        i {
            margin-right: 10px;
        }
    }
}

.internet-list {
    li {
        .mui-media-body {
            .title {
                .line-clamp(1);
                margin-bottom: 5px;
            }
            .desc {
                font-size: 14px;
                color: #666;
                .ell;
                margin-bottom: 0;
            }
            .btn {
                background-color: rgb(254, 158, 12);
                color: #fff;
                -webkit-border-radius: 3px;
                -moz-border-radius: 3px;
                border-radius: 3px;
                padding: 3px 5px;
                font-size: 14px;
                width: 90px;
                text-align: center;
            }
        }
    }
}

.internet-courseware {
    video {
        width: 100%;
        display: block;
        background-color: #000;
    }
    .brief {
        margin: 15px;
        border: 1px solid #c8c7cc;
        padding: 10px;
    }
}

.other-courseware {
    ul {
        background-color: #fff;
        padding: 20px 20px 0;
        li {
            width: 45%;
            float: left;
            margin-bottom: 20px;
            &:nth-child(2n) {
                margin-left: 10%;
            }
            .thumb {
                width: 100%;
                height: 100px;
                -webkit-background-size: cover;
                background-size: cover;
                background-repeat: no-repeat;
                background-position: 50%;
            }
            h1 {
                font-size: 16px;
                margin: 7px 0;
                .ell;
                color: #333;
            }
            p {
                .line-clamp(2);
                font-size: 14px;
                color: #999;
            }
        }
    }
}

.ucenter {
    .user {
        padding: 50px 0;
        background-image: url('../img/ucenterbg.jpg');
        background-repeat: no-repeat;
        -webkit-background-size: cover;
        background-size: cover;
        background-position: 50%;
        display: flex;
        display: -webkit-flex;
        justify-content: center;
        -webkit-justify-content: center;
        align-items: center;
        -webkit-align-items: center;
        flex-direction: column;
        -webkit-flex-direction: column;
        .user-img {
            background-color: rgba(0, 0, 0, .6);
            -webkit-background-size: cover;
            background-size: cover;
            background-position: 50%;
            background-repeat: no-repeat;
            width: 80px;
            height: 80px;
            border-radius: 50%;
            -webkit-border-radius: 50%;
            position: relative;
            img {
                width: 100%;
                height: 100%;
                display: block;
                border-radius: 50%;
                -webkit-border-radius: 50%;
                position: relative;
                z-index: 2;
            }
            i {
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                -webkit-transform: translate(-50%, -50%);
                color: #fff;
                font-size: 32px;
            }
            input {
                position: absolute;
                left: 0;
                right: 0;
                top: 0;
                bottom: 0;
                opacity: 0;
            }
        }
        p {
            color: #fff;
            font-size: 18px;
            margin-top: 20px;
            max-width: 70%;
            text-align: center;
        }
    }
    ul {
        &:last-child {
            margin-top: 20px;
        }
        li {
            a {
                display: flex!important;
                flex-wrap: nowrap;
                align-items: center;
                -webkit-align-items: center;
                font-size: 16px;
                i {
                    font-size: 20px;
                    display: block;
                    width: 30px;
                    height: 30px;
                    color: @base;
                    &:before {
                        position: absolute;
                        top: 50%;
                        transform: translateY(-50%);
                        -webkit-transform: translateY(-50%);
                    }
                }
            }
        }
    }
}

.ucenter-flex {
    display: flex;
    display: -webkit-flex;
    padding: 15px 0;
    background-color: #fff;
    margin-bottom: 20px;
    span {
        position: relative;
        display: flex;
        display: -webkit-flex;
        justify-content: center;
        -webkit-justify-content: center;
        flex: 1;
        -webkit-flex: 1;
        color: @base;
        font-size: 18px;
        padding: 15px 0;
        i {
            margin-right: 15px;
            font-size: 30px;
            color: @base;
        }
        &:first-child:after {
            .lineRight()
        }
    }
}

.login {
    padding: 10px 20px;
    text-align: center;
    .login-btns {
        display: flex;
        display: -webkit-flex;
        span {
            width: 100%;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            border-radius: 5px;
            background-color: @base;
            color: #fff;
            font-size: 20px;
            text-align: center;
            padding: 15px 0;
            display: block;
            margin-top: 20px;
            &:last-child {
                background-color: #eb7350;
            }
        }
    }
    img {
        margin: 10px 0;
        width: 120px;
    }
    .input-frame {
        display: flex;
        display: -webkit-flex;
        align-items: center;
        -webkit-align-items: center;
        position: relative;
        padding: 10px 0;
        &:after {
            .lineBottom(15px);
            left: 0;
        }
        i {
            font-size: 25px;
            margin-right: 10px;
            color: #333;
        }
        input,
        select {
            border: none;
            background-color: #f7f7f7;
            margin: 0;
            flex: 1;
            -webkit-flex: 1;
            padding-left: 0;
            color: #333;
        }
        span {
            position: absolute;
            right: 0;
            top: 50%;
            font-size: 14px;
            width: 100px;
            height: 30px;
            line-height: 30px;
            margin: 0;
            padding: 0;
            margin-top: -15px;
        }
    }
    .footer {
        margin-top: 10px;
        display: flex;
        display: -webkit-flex;
        justify-content: space-between;
        -webkit-justify-content: space-between;
        font-size: 18px;
        width: 100%;
        a {
            color: #333;
            &:last-child {
                color: green;
            }
        }
    }
}

.score {
    .content {
        padding: 120px 0;
        top: 40px;
        background-color: rgb(255, 158, 13);
        background-image: url(../img/trophy.png);
        background-repeat: no-repeat;
        background-position: right bottom;
        -webkit-background-size: 130px auto;
        background-size: 130px auto;
        position: relative;
        display: flex;
        display: -webkit-flex;
        justify-content: center;
        -webkit-justify-content: center;
        align-items: center;
        -webkit-align-items: center;
        span {
            text-align: center;
            color: #fff;
            font-size: 50px;
            position: relative;
            &:before {
                //              content: '总学时';
                position: absolute;
                left: 0;
                right: 0;
                top: -45px;
                font-size: 18px;
                color: #f1f1f1;
            }
        }
        .star-grade {
            text-align: center;
            p {
                font-size: 14px;
                color: #fff;
            }
            i {
                color: #fff;
                font-size: 26px;
            }
        }
    }
    h4 {
        line-height: 24px;
    }
}

.notice {
    background-color: #d95a4f;
    margin: 0 30px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    display: flex;
    display: -webkit-flex;
    color: #fff;
    padding: 20px;
    box-sizing: border-box;
    header {
        width: 60px;
        position: relative;
        font-size: 18px;
        display: flex;
        display: -webkit-flex;
        flex-direction: column;
        -webkit-flex-direction: column;
        justify-content: center;
        -webkit-justify-content: center;
        text-align: center;
        padding-right: 20px;
        height: 80px;
        i {
            font-size: 32px;
            margin-bottom: 10px;
        }
        &:after {
            content: '';
            display: block;
            width: 1px;
            position: absolute;
            right: 0;
            bottom: 0;
            top: 0;
            z-index: 2;
            background-color: #fff;
            -webkit-transform: scaleX(.5);
            transform: scaleX(.5);
        }
    }
    .notice-swiper {
        flex: 1;
        -webkit-flex: 1;
        height: 80px;
    }
    .detail {
        width: 100%;
        display: flex;
        display: -webkit-flex;
        flex-direction: column;
        -webkit-flex-direction: column;
        justify-content: space-between;
        -webkit-justify-content: space-between;
        padding-left: 20px;
        height: 80px;
        h1 {
            font-size: 16px;
        }
        p {
            font-size: 14px;
            color: #fff;
            margin: 0;
        }
    }
}

.thumb-upload {
    width: 120px;
    height: 120px;
    border: 1px solid #eee;
    float: left;
    margin: 10px 0;
    position: relative;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
    &.active:before {
        display: none;
    }
    &:before {
        content: '选择图片';
        position: absolute;
        font-size: 14px;
        color: #999;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        text-align: center;
        line-height: 120px;
    }
    input {
        position: absolute;
        opacity: 0;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
    }
}

.article-upload {
    .mui-input-row {
        label~p {
            float: right;
            width: 65%;
            height: 40px;
            margin-bottom: 0;
            padding: 10px 15px 10px 0;
            border: 0;
            line-height: 21px;
            font-size: 17px;
        }
        &:last-child:after {
            display: none;
        }
    }
    .tape-btn,
    .audio-btn,
    .recog-btn {
        background-color: #16c2c2;
        color: #fff;
        font-size: 14px;
        padding: 10px 10px;
        margin-left: 10px;
        width: 120px;
        text-align: center;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        float: left;
    }
    .recog-btn {
        background-color: #999;
    }
    .audio-btn {
        position: relative;
        display: flex;
        display: -webkit-flex;
        align-items: center;
        -webkit-align-items: center;
        &.active {
            .line {
                border-color: transparent #fff transparent transparent;
            }
            .line2 {
                animation: line2PlayAni 1s infinite linear;
            }
            .line3 {
                animation: line3PlayAni 1s infinite linear;
            }
        }
        u {
            position: absolute;
            right: 5px;
            top: 50%;
            transform: translateY(-50%);
            color: #fff;
            font-size: 12px;
            text-decoration: none;
        }
        .line {
            width: 15px;
            height: 10px;
            display: block;
            border-width: 1px;
            border-style: solid;
            border-color: transparent #0d8888 transparent transparent;
            margin-left: -10px;
            border-radius: 60%;
        }
        .line2 {
            height: 15px;
        }
        .line3 {
            height: 20px;
        }
    }
}

.study-block {
    background-color: #ffe;
    padding: 15px 0;
    display: flex;
    display: -webkit-flex;
    div {
        flex: 1;
        -webkit-flex: 1;
        flex-direction: column;
        -webkit-flex-direction: column;
        padding: 0 20px;
        font-size: 16px;
        text-align: center;
        img {
            height: 40px;
            margin: 0 auto 10px;
            display: block;
        }
    }
}

.study-live {
    padding: 20px 0;
    background-color: #fff;
    margin-top: 15px;
    header {
        display: flex;
        display: -webkit-flex;
        justify-content: space-around;
        padding-bottom: 10px;
        span {
            color: #525252;
            font-size: 16px;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            border-radius: 5px;
            padding: 5px;
            &.active {
                color: #fff;
                background-color: #f28f31;
            }
        }
    }
    .live-program {
        padding: 20px;
        background-color: #f8f8f8;
        display: flex;
        display: -webkit-flex;
        .thumb {
            -webkit-background-size: cover;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: 50%;
            width: 40%;
            height: 100px;
            margin-right: 15px;
        }
        .detail {
            flex: 1;
            -webkit-flex: 1;
            display: flex;
            display: -webkit-flex;
            flex-direction: column;
            -webkit-flex-direction: column;
            justify-content: space-between;
            -webkit-justify-content: space-between;
            position: relative;
            h1 {
                font-size: 16px;
                .line-clamp(2);
            }
            footer {
                color: #666;
                font-size: 12px;
                p {
                    margin: 0;
                }
                i {
                    font-size: 12px;
                }
            }
            .open {
                position: absolute;
                right: 10px;
                bottom: 0;
                background-color: #2c59d4;
                -webkit-border-radius: 50%;
                -moz-border-radius: 50%;
                border-radius: 50%;
                width: 50px;
                height: 50px;
                text-align: center;
                line-height: 50px;
                i {
                    color: #fff;
                    font-size: 26px;
                }
            }
        }
    }
}

.study-internet {
    background-color: #fff;
    margin-top: 15px;
    .lists {
        .list {
            width: 100%;
            display: flex;
            display: -webkit-flex;
            margin-bottom: 10px;
            padding: 10px;
            position: relative;
            &:after {
                .lineBottom(15px);
            }
            &:last-child {
                margin: 0;
                &:after {
                    display: none;
                }
            }
            .thumb {
                -webkit-background-size: cover;
                background-size: cover;
                background-repeat: no-repeat;
                background-position: 50%;
                width: 120px;
                height: 80px;
                border-radius: 5px;
            }
            .info {
                flex: 1;
                -webkit-flex: 1;
                margin-left: 15px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
            }
            h1 {
                font-weight: normal;
                font-size: 16px;
                .line-clamp(2);
                margin: 0;
            }
            p {
                margin: 0;
                span {
                    font-size: 12px;
                    color: #666;
                    i {
                        font-size: 12px;
                        margin-right: 3px;
                    }
                    &:first-child {
                        margin-right: 5px;
                    }
                }
            }
        }
    }
}

.search {
    input {
        margin: 0;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        border-radius: 0;
    }
}

.tree {
    .controls {
        display: flex;
        display: -webkit-flex;
        height: 50px;
        justify-content: space-around;
        align-items: center;
        -webkit-align-items: center;
        span {
            flex: 1;
            -webkit-flex: 1;
            display: flex;
            display: -webkit-flex;
            height: 50px;
            justify-content: center;
            -webkit-justify-content: center;
            align-items: center;
            -webkit-align-items: center;
            i {
                font-size: 26px;
            }
            &:active {
                background-color: #f1f1f1;
            }
        }
    }
    .branches {
        background-color: #fff;
        .branch {
            display: flex;
            display: -webkit-flex;
            align-items: center;
            -webkit-align-items: center;
            position: relative;
            padding: 20px;
            &:active {
                background-color: #f1f1f1;
            }
            &:last-child:after {
                display: none;
            }
            &:after {
                .lineBottom(70px);
            }
            i {
                font-size: 36px;
                display: block;
                color: #cb0303;
            }
            p {
                flex: 1;
                -webkit-flex: 1;
                margin: 0;
                margin-left: 20px;
                .ell;
                font-size: 16px;
                color: #333;
            }
        }
    }
}

.comment-list {
    background-color: #fff;
    margin-top: 8px;
    padding: 0 25px;
    header {
        font-size: 16px;
        position: relative;
        font-weight: 700;
        height: 50px;
        line-height: 50px;
    }
    dl {
        dt {
            display: flex;
            display: -webkit-flex;
            color: #666;
            font-size: 16px;
            align-items: center;
            -webkit-align-items: center;
            img {
                display: block;
                -webkit-border-radius: 50%;
                -moz-border-radius: 50%;
                border-radius: 50%;
                margin-right: 10px;
            }
            strong {
                flex: 1;
                -webkit-flex: 1;
                font-weight: normal;
            }
            time {
                font-size: 14px;
            }
        }
        dd {
            font-size: 16px;
            color: #333;
            .line-clamp(2);
            margin-top: 10px;
        }
    }
    footer {
        font-size: 16px;
        font-weight: 700;
        height: 50px;
        line-height: 50px;
        color: @base;
        text-align: center;
    }
}

.comment-bar {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    height: 50px;
    padding: 15px;
    box-sizing: border-box;
    background-color: #fff;
    display: flex;
    display: -webkit-flex;
    &:before {
        content: '';
        display: block;
        left: 0;
        right: 0;
        top: 0;
        width: 100%;
        position: absolute;
        height: 1px;
        background-color: #C8C7CC;
        transform: scaleY(.5);
        -webkit-transform: scaleY(.5);
    }
    span {
        flex: 1;
        -webkit-flex: 1;
        position: relative;
        display: flex;
        display: -webkit-flex;
        justify-content: center;
        -webkit-justify-content: center;
        text-align: center;
        &:first-child {
            border-right: 1px solid #c8c7cc;
            i {
                font-size: 24px;
            }
        }
    }
    em {
        font-style: normal;
    }
    i {
        font-size: 30px;
        color: #333;
        position: relative;
        display: inline-block;
        text-align: center;
        height: 20px;
        width: 40px;
        &:before {
            position: absolute;
            left: 0;
            top: 50%;
            left: 40%;
            transform: translate(-50%, -50%);
            -webkit-transform: translate(-50%, -50%);
        }
    }
}

.reply {
    background-color: #fff;
    padding: 15px;
    text-align: right;
    position: relative;
    textarea {
        background-color: #f1f1f1;
        border: none;
        font-size: 16px;
        height: 100px;
        margin-bottom: 10px;
    }
    a {
        background-color: #e9e9e9;
        padding: 8px 13px;
        color: #333;
        font-size: 16px;
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        border-radius: 2px;
        &.active {
            background-color: @base;
            color: #fff;
        }
    }
    &:after {
        content: '';
        display: block;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        position: absolute;
        height: 1px;
        background-color: #C8C7CC;
        transform: scaleY(.5);
        -webkit-transform: scaleY(.5);
    }
}

.comment-lists {
    margin: 0;
    padding-top: 20px;
    dl {
        position: relative;
        padding-bottom: 40px;
        padding-top: 20px;
        &:first-child {
            padding-top: 0;
        }
        &:last-child:after {
            height: 0;
        }
        &:after {
            content: '';
            display: block;
            left: 0;
            right: 0;
            bottom: 0;
            width: 100%;
            position: absolute;
            height: 1px;
            background-color: #C8C7CC;
            transform: scaleY(.5);
            -webkit-transform: scaleY(.5);
        }
        dt {
            span {
                position: absolute;
                right: 0;
                bottom: 10px;
                padding: 0 10px;
                border: 1px solid #eee;
                font-size: 14px;
                transition: all .3s ease-in;
                i {
                    font-size: 16px;
                }
                &.active {
                    background-color: @base;
                    border-color: @base;
                    color: #fff;
                    i {
                        color: #fff;
                    }
                }
            }
        }
        dd {
            .line-clamp(10);
        }
    }
    &>footer {
        i {
            margin-left: 10px;
        }
    }
}

.mAR {
    h4 {
        line-height: normal;
    }
    h5 {
        .ell;
    }
}

#grade {
    .mui-navigate-right span {
        float: right;
        margin-right: 30px;
        color: #666;
    }
    .num-grade {
        margin: 100px 0;
        text-align: center;
        color: @base;
        font-size: 65px;
        font-weight: 600;
        span {
            font-size: 12px;
            color: #666;
            margin-left: 5px;
        }
    }
    .star-grade {
        display: flex;
        display: -webkit-flex;
        justify-content: center;
        -webkit-justify-content: center;
        margin: 100px 0;
        i {
            font-size: 40px;
            &.icon-star {
                color: @base;
            }
        }
    }
}

#memberManage,
#memberRanks {
    li {
        a {
            padding-right: 35px;
        }
        span {
            float: right;
            background-color: @base;
            color: #fff;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            border-radius: 5px;
            margin-left: 5px;
            font-size: 12px;
            padding: 2px 5px;
        }
    }
}

.record-upload-imgs {
    padding: 0 10px;
    display: flex;
    display: -webkit-flex;
    align-items: center;
    -webkit-align-items: center;
    .thumb-upload {
        flex: 1;
        -webkit-flex: 1;
        position: relative;
        p {
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: rgba(0, 0, 0, .5);
            font-size: 12px;
            padding: 2px 5px;
            margin: 0;
            color: #fff;
            .ell;
        }
        &.img-1:before {
            content: '签到表'
        }
        &.img-3:before {
            content: '其他'
        }
        &.img-2 {
            margin: 0 10px;
            &:before {
                content: '会场全景图'
            }
        }
        &.img-5 {
            margin: 0 10px;
        }
    }
}

.gallery {
    display: flex;
    display: -webkit-flex;
    flex-wrap: wrap;
    justify-content: space-between;
    -webkit-justify-content: space-between;
    .thumb {
        position: relative;
        height: 120px;
        width: 32%;
        margin-bottom: 10px;
        background-repeat: no-repeat;
        -webkit-background-size: cover;
        background-size: cover;
        background-position: 50%;
        p {
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            padding: 3px 5px;
            color: #fff;
            background-color: rgba(0, 0, 0, .5);
            box-sizing: border-box;
            .ell;
            font-size: 12px;
            margin-bottom: 0;
        }
    }
}

#notice {
    .mui-media-object {
        i {
            font-size: 30px;
            &.icon-093info {
                color: #007AFF;
            }
            &.icon-088help02 {
                color: #C0C0C0;
            }
            &.icon-72jingshi {
                color: #EC971F;
            }
            &.icon-71shibai {
                color: #CB0303;
            }
            &.icon-70chenggong {
                color: #2AC845;
            }
        }
    }
}

.search-bar {
    padding: 10px;
    display: flex;
    display: -webkit-flex;
    align-items: center;
    -webkit-align-items: center;
    input {
        margin: 0;
        flex: 1;
        -webkit-flex: 1;
    }
    i {
        font-size: 24px;
        padding: 0 15px;
    }
}

.scroll-org {
    background-color: #fff;
    height: 100px;
    margin: 10px 0;
    .swiper-slide {
        width: 150px;
        text-align: center;
        display: flex;
        display: -webkit-flex;
        flex-direction: column;
        -webkit-flex-direction: column;
        justify-content: center;
        -webkit-justify-content: center;
        align-items: center;
        -webkit-align-items: center;
        i {
            font-size: 42px;
            color: @base;
            height: 50px;
            position: relative;
            &:before {
                position: absolute;
                top: 50%;
                left: 50%;
                margin-left: -21px;
                margin-top: -10px;
            }
        }
        p {
            color: #333;
            font-size: 14px;
            .line-clamp(2);
            margin: 0;
            max-width: 80%;
        }
    }
}

.unaudited-activity-title {
    font-size: 14px;
    margin-top: 15px;
    margin-bottom: 5px;
    padding: 0 5px;
}

.my-activity {
    background-color: #fff;
    width: 100%;
    li {
        display: flex;
        display: -webkit-flex;
        position: relative;
        padding: 10px;
        width: 100%;
        align-items: center;
        -webkit-align-items: center;
        &:after {
            .lineBottom(10px);
        }
        .img {
            width: 60px;
            height: 60px;
            -webkit-background-size: cover;
            background-size: cover;
            background-position: 50%;
            background-repeat: no-repeat;
            margin-right: 10px;
            flex-shrink: 0;
        }
        .info {
            width: 70%;
            h4 {
                line-height: 1.5;
                margin: 0;
            }
            &>* {
                width: 100%;
                .ell;
            }
            p {
                margin: 0;
            }
        }
        span {
            flex: 1;
            -webkit-flex: 1;
            text-align: center;
            background-color: @base;
            -webkit-border-radius: 3px;
            -moz-border-radius: 3px;
            border-radius: 3px;
            color: #fff;
            padding: 2px;
            font-size: 12px;
        }
    }
}

.select-tags {
    .mui-radio.mui-left input[type="radio"] {
        left: -35px;
        top: 0;
        width: 21px;
        height: 21px;
        &:before {
            font-size: 21px;
        }
    }
}

.rp {
    width: 120px;
    height: 120px;
    text-align: center;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -60px;
    margin-left: -60px;
    background: rgba(0, 0, 0, 0.8);
    z-index: 9999;
    overflow: hidden;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    align-items: center;
    -webkit-align-items: center;
    justify-content: center;
    -webkit-justify-content: center;
}

.rprogress {
    background: url(../img/arecord.png) no-repeat center center;
    background-size: 32px 32px;
    margin-bottom: 15px;
    .rschedule {
        background-color: rgba(0, 0, 0, 0);
        border: 5px solid rgba(0, 183, 229, 0.9);
        opacity: .9;
        border-left: 5px solid rgba(0, 0, 0, 0);
        border-right: 5px solid rgba(0, 0, 0, 0);
        border-radius: 50px;
        box-shadow: 0 0 15px #2187e7;
        width: 36px;
        height: 36px;
        margin: 0 auto;
        -webkit-animation: spin 1s infinite linear;
        animation: spin 1s infinite linear;
    }
}

.rtime {
    font-size: 18px;
    color: #fff;
}

.scroll-tabs {
    padding: 10px;
    width: 100%;
    overflow-x: scroll;
    white-space: nowrap;
    &::-webkit-scrollbar {
        display: none;
    }
    span {
        background-color: #fff;
        border-radius: 2px;
        margin-right: 5px;
        border: 1px solid #eee;
        padding: 5px 10px;
        font-size: 14px;
        &.active {
            background-color: @base;
            color: #fff;
        }
    }
}

.table {
    .table-cell {
        position: relative;
        text-align: center;
        padding: 15px 0;
        &:first-child {
            background-color: @base;
            color: #fff;
        }
        &:after {
            .lineBottom(0);
        }
        .id {
            width: 20%;
            float: left;
        }
        .name {
            width: 40%;
            float: left;
        }
        .value {
            width: 40%;
            float: left;
        }
    }
}

.approve {
    h4.mui-ellipsis {
        line-height: 1.5;
    }
}


/*summary*/

.summary-tabs span {
    width: 25%;
    text-align: center;
}

.summary-li {
    height: 40px;
    font-size: 16px;
    display: flex;
    display: -webkit-flex;
    flex-flow: row nowrap;
    .title {
        flex: 1;
        -webkit-flex: 1;
    }
    .times {
        width: 60px;
        text-align: center;
    }
    .state {
        width: 60px;
        text-align: right;
        i {
            color: deepskyblue;
            font-size: 20px;
            &.icon-71shibai {
                color: red;
            }
        }
    }
}

.position() {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;
}

.clipper-container {
    .position();
    line-height: 0;
    background-color: #000;
    .clipper-part {
        .position();
        bottom: 61px;
        z-index: 102;
        .pCanvas-container {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            border: 2px solid #fff;
        }
    }
    .action-bar {
        box-sizing: content-box;
        .position();
        top: auto;
        z-index: 103;
        height: 60px;
        line-height: 60px;
        border-top: 1px solid rgba(256, 256, 256, 0.3);
        button {
            display: block;
            padding: 0 15px;
            line-height: 60px;
            font-size: 16px;
            color: #fff;
            background: none;
            border: none;
            outline: 0;
            &.btn-cancel {
                float: left;
            }
            &.btn-ok {
                float: right;
            }
        }
    }
    .mask {
        .position();
        z-index: 101;
        transition: opacity 500ms;
        background-color: #000;
        opacity: 0;
        &.opacity {
            opacity: 0.8;
        }
    }
    .gesture-mask {
        .position();
        bottom: 61px;
        z-index: 103;
    }
}

.rule-rows {
    background-color: #fff;
    .mui-row {
        &>div {
            height: 40px;
            display: flex;
            display: -webkit-flex;
            align-items: center;
            -webkit-align-items: center;
            justify-content: center;
            -webkit-justify-content: center;
        }
        &:first-child {
            font-weight: 700;
            position: relative;
            &:after {
                .lineBottom(0)
            }
        }
        .mui-switch {
            &:before {
                content: '停用';
            }
            &.mui-active:before {
                content: '启用';
            }
        }
    }
}

.select-list {
    i.iconfont {
        margin-right: 15px;
        &.icon-xuanzhong {
            color: @base;
        }
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes line2PlayAni {
    0% {
        opacity: 0;
    }
    10% {
        opacity: 1;
    }
}

@keyframes line3PlayAni {
    20% {
        opacity: 0;
    }
    30% {
        opacity: 1;
    }
}