<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title></title>
		<script src="lib/jquery.min.js"></script>
		<script src="lib/vue.min.js"></script>
		<script src="lib/mui.min.js"></script>
		<link href="lib/mui.min.css" rel="stylesheet" />
		<link href="lib/swiper.min.css" rel="stylesheet" />
		<link rel="stylesheet" href="lib/iconfont.css" />
		<link rel="stylesheet" href="css/style.css" />
	</head>

	<body>
		<!-- 导航栏 -->
		<header class="mui-bar mui-bar-nav pageTitle">
			<h1 class="mui-title">舟山共产党员<i class="iconfont icon-more" v-show="showOrgTitle"></i></h1>
		</header>

		<footer class="footer-tab" id="index-footer">
			<a class="active go-index" data-page="index" @click="switchIndexTopNews">
				<i class="iconfont icon-danghui-copy"></i> 首页
			</a>
			<a class="go-activity" data-page="activity">
				<i class="iconfont icon-0045"></i> 组织生活
			</a>
			<a class="go-study" data-page="study" @click="switchStudyTopNews">
				<i class="iconfont icon-xuexi"></i> 学习平台
			</a>
			<a class="go-ucenter" data-page="ucenter">
				<i class="iconfont icon-gerenzhongxinxia"></i> 个人中心
			</a>
		</footer>
		
		<div class="swiper-container index-swiper have-header" v-show="show">
			<div class="swiper-wrapper">
				<div class="swiper-slide" v-for="i in scrollNews" @click="gotoDetail(i)" :style="{backgroundImage: 'url('+ i.img +')'}">
				</div>
			</div>
			<div class="swiper-pagination index-pagination"></div>
			<div class="mui-slider-text">
				<p v-text="activeSlideText"></p>
			</div>
		</div>

		<div id="index" class="have-footer main" style="display:block">
			<div class="news-list">
				<ul class="mui-table-view">
					<li v-for="i in headNews" @click="gotoDetail(i)">
						<a>
							<div class="mui-media-object mui-pull-left" :style="{backgroundImage: 'url('+ i.img +')'}"></div>
							<div class="mui-media-body">
								<p class="title" v-text="i.title"></p>
								<span class="date" v-text="i.newsdate"></span>
							</div>
						</a>
					</li>
				</ul>
			</div>
			
			<div class="manager-entry">
				<span @click="gotoOrganization"><i class="iconfont icon-partyflag"></i>组织信息管理</span>
				<span @click="gotoUcenter"><i class="iconfont icon-dangyuan"></i>党员信息管理</span>
			</div>
			
			<div class="activity" v-show="activity.length>0">
				<header @click="goActivityTab" class="global-header"><h1 class="title">活动专题</h1><span class="more">更多</span></header>
				<ul class="activity-list">
					<li v-for="a in activity" @click="goActivityList(a.id)">
						<div class="img" :style="{backgroundImage: 'url('+ a.img +')'}"></div>
						<p>{{a.name}}<span class="activitySort">进入专题 ></span></p>
					</li>
				</ul>
			</div>
		</div> 
		
		<div id="activity" class="have-footer main activity-panel" v-show="activity.length>0">
			
			<div class="notice">
				<header><i class="iconfont icon-xiaoxi"></i>通知</header>
				<div class="swiper-container notice-swiper">
					<div class="swiper-wrapper">
						<div class="swiper-slide">
							<div class="detail">
								<h1>关于举办工商管理硕士研究生班招生报名的函</h1>
								<p>2017-03-08</p>
							</div>
						</div>
						<div class="swiper-slide">
							<div class="detail">
								<h1>关于举办工商管理硕士研究生班招生报名的函</h1>
								<p>2017-03-08</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			
			<ul class="activity-block clearfix">
				<li><i class="iconfont icon-huodong"></i>组织活动</li>
				<li><i class="iconfont icon-jifen"></i>组织积分</li>
				<li><i class="iconfont icon-Id"></i>党员信息</li>
				<li><i class="iconfont icon-ai-book"></i>规章制度</li>
			</ul>
			
		</div>
		
		<div id="study" class="have-footer main">
			<div class="study-block">
				<div>
					<img src="./img/studyIcon1.png" />
					教育动态
				</div>
				<div>
					<img src="./img/studyIcon2.png" />
					直播课堂
				</div>
				<div>
					<img src="./img/studyIcon3.png" />
					网络课堂
				</div>
			</div>
			
			<div class="study-live">
				<header>
					<span class="active">今日直播</span>
					<span>预告</span>
					<span>已结束</span>
				</header>
				<!--
					
				无播出节目时显示的提示内容
				<div class="live-program">今日暂无直播</div>
				
				-->
				<div class="live-program">
					<div class="thumb"></div>
					<div class="detail">
						<h1>两学一做</h1>
						<footer>
							<p><i class="iconfont icon-shijian"></i> 10:00</p>
							<p><i class="iconfont icon-men"></i> 1133</p>
						</footer>
						<span class="open">
							<i class="iconfont icon-bofang"></i>
						</span>
					</div>
				</div>
			</div>
			
			<div class="study-internet">
				<div class="lists">
					<div class="list">
						<div class="thumb" style="background-image: url(http://placehold.it/300x200);"></div>
						<h1>五水共治这三年</h1>
						<p>
							<span><i class="iconfont icon-men"></i>1133</span>
							<span><i class="iconfont icon-icon--"></i>7</span>
						</p>
					</div>
					<div class="list">
						<div class="thumb" style="background-image: url(http://placehold.it/300x200);"></div>
						<h1>五水共治这三年</h1>
						<p>
							<span><i class="iconfont icon-men"></i>1133</span>
							<span><i class="iconfont icon-icon--"></i>7</span>
						</p>
					</div>
				</div>
				<footer><span>换一换</span></footer>
			</div>
		</div>

		<div id="ucenter" class="have-footer have-header main ucenter">
			<div class="user" @click="goLogin">
				<div class="user-img">
					<img :src="userInfo.img?userInfo.img:'img/organization.jpg'" v-show="isLogin" v-if="userInfo != null"/>
					<i class="iconfont icon-gerenzhongxinxia" v-show="!isLogin"></i>
				</div>
				<p v-text="isLogin ? userInfo.name : '立即登录'"></p>
			</div>
			
			<div class="ucenter-flex">
				<span @click="checkPoints"><i class="iconfont icon-icon1"></i>先锋指数</span>	
				<span @click="checkCredit"><i class="iconfont icon-jifen"></i>学习积分</span>	
			</div>
			<!--党员登录-->
			<ul class="mui-table-view" v-show="userType != 1">
				<li class="mui-table-view-cell" @click="goPost">
					<a class="mui-navigate-right">
						<i class="iconfont icon-xiaoxi"></i>消息
					</a>
				</li>
				<li class="mui-table-view-cell" @click="goMyStudy">
					<a class="mui-navigate-right">
						<i class="iconfont icon-wodesk"></i>我的学习
					</a>
				</li>
				<li class="mui-table-view-cell" @click="goMyActivity">
					<a class="mui-navigate-right">
						<i class="iconfont icon-huodong"></i>我的活动
					</a>
				</li>
			</ul>
			<!--组织登录-->
			<ul class="mui-table-view" v-show="userType == 1">
				<li class="mui-table-view-cell" @click="goOrgStudy">
					<a class="mui-navigate-right">
						<i class="iconfont icon-wodesk"></i>组织学习
					</a>
				</li>
				<li class="mui-table-view-cell" @click="goOrgActivity">
					<a class="mui-navigate-right">
						<i class="iconfont icon-huodong"></i>组织活动
					</a>
				</li>
			</ul>
			<ul class="mui-table-view" v-show="isLogin || androidUpdate">
				<!--<li class="mui-table-view-cell" @click="goRecommend">
					<a class="mui-navigate-right">
						<i class="iconfont icon-tuijian"></i>推荐
					</a>
				</li>-->
				<li class="mui-table-view-cell" v-show="isLogin" @click="logout">
					<a class="mui-navigate-right">
						<i class="iconfont icon-fill108"></i>退出登录
					</a>
				</li>
				<li class="mui-table-view-cell" @click="clearCache" v-if="androidUpdate">
					<a class="mui-navigate-right">
						<i class="iconfont icon-Clear"></i>清除缓存
					</a>
				</li>
				<li class="mui-table-view-cell" @click="checkNewVersion" v-if="androidUpdate">
					<a class="mui-navigate-right">
						<i class="iconfont icon-shengji"></i>检查新版本
					</a>
					<span class="mui-badge mui-badge-danger" v-show="isNew">NEW</span>
				</li>
			</ul>
		</div>
	</body>

</html>
<script src="lib/utils.js"></script>
<script src="lib/swiper.min.js"></script>
<script src="lib/a_ref.js"></script>
<script src="js/index.js"></script>
