<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title></title>
		<script src="lib/jquery.min.js"></script>
		<script src="lib/vue.min.js"></script>
		<script src="lib/mui.min.js"></script>
		<link href="lib/mui.min.css" rel="stylesheet" />
		<link href="lib/swiper.min.css" rel="stylesheet" />
		<link rel="stylesheet" href="lib/iconfont.css" />
		<link rel="stylesheet" href="css/style.css" />
	</head>

	<body>
		<!-- 导航栏 -->
		<header class="mui-bar mui-bar-nav pageTitle">
            <button class="mui-btn mui-btn-blue mui-btn-link mui-pull-left goZSDJ">舟山党建网</button>
			<h1 class="mui-title">舟山共产党员</h1>
            <button class="mui-btn mui-btn-blue mui-btn-link mui-pull-right logout">退出</button>
		</header>

		<footer class="footer-tab" id="index-footer" v-show="isOrganization || isPersonal">
			<a class="go-index" :class="{active: 'index' === tag}" data-page="index" @click="switchTo('舟山共产党员', 'index')">
				<i class="iconfont icon-danghui-copy"></i> 首页
			</a>
			<a class="go-activity" :class="{active: 'activity' === tag}" data-page="activity" v-show="isOrganization" @click="switchTo('组织生活', 'activity')">
				<i class="iconfont icon-0045"></i> 组织生活
			</a>
			<a class="go-study" :class="{active: 'study' === tag}" data-page="study" v-show="isPersonal" @click="switchTo('学习平台', 'study')">
				<i class="iconfont icon-xuexi"></i> 学习平台
			</a>
			<a class="go-ucenter" :class="{active: 'ucenter' === tag}" data-page="ucenter" v-show="isPersonal" @click="switchTo('个人中心', 'ucenter')">
				<i class="iconfont icon-gerenzhongxinxia"></i> 个人中心
			</a>
		</footer>
		
		<div class="swiper-container index-swiper have-header">
			<div class="swiper-wrapper">
				<div class="swiper-slide" v-for="i in scrollNews" @click="openNews(i)" :style="{backgroundImage: 'url('+ i.img +')'}">
				</div>
			</div>
			<div class="swiper-pagination index-pagination"></div>
			<div class="mui-slider-text">
				<p v-text="activeSlideText"></p>
			</div>
		</div>

		<div id="index" class="have-footer main" style="display:block">
			<div class="news-list">
				<header class="global-header"><h1 class="title">新闻</h1></header>
				<ul class="mui-table-view">
					<li v-for="i in news" @click="openNews(i)">
						<a>
							<div class="mui-media-object mui-pull-left" :style="{backgroundImage: 'url('+ i.img +')'}"></div>
							<div class="mui-media-body">
								<p class="title" v-text="i.title"></p>
								<span class="date" v-text="i.newsdate"></span>
							</div>
						</a>
					</li>
				</ul>
				<footer class="block-button" v-show="hasMoreNews" @click="openNewsList">查看更多</footer>
			</div>
		
            
			<div class="activity news-list" v-show="activities.length">
				<header class="global-header"><h1 class="title">推荐活动</h1></header>
				<ul class="mui-table-view">
					<li v-for="i in activities" @click="goActivity(i)">
						<a>
							<!--<div class="mui-media-object mui-pull-left" :style="{backgroundImage: 'url('+ i.img +')'}" v-show="i.img"></div>-->
							<div class="mui-media-body">
								<p class="title" v-text="i.title"></p>
								<span class="date" v-text="i.orgName"></span>
								<span class="date" v-text="i.logtime"></span>
							</div>
						</a>
					</li>
				</ul>
				<footer class="block-button" v-show="hasMoreActivities" @click="openActivities">查看更多</footer>
			</div>
            
		</div> 
		
		<div id="activity" class="have-footer main activity-panel">
			
			<header class="org-info"j>
				<h1 v-cloak>{{curOrgName}}</h1>
				<div class="check" v-if="ifPartyBranch">
					<i class="iconfont" @click="openSummary(idx)" v-for="i, idx in seasonSummaries" :class="{'icon-circle': i[0] && [1], 'icon-chart12': i[0] ^ i[1], 'icon-jindu3': !i[0] && !i[1]}" v-bind:data-progress="idx+1"></i>
				</div>
				<div @click="openCheckRules" class="check" v-if="ifFirstPC">
					考核规则制定
				</div>
			</header>
			
			<div class="notice">
                <header @click="openNoticeList"><i class="iconfont icon-xiaoxi"></i>通知</header>
				<div class="swiper-container notice-swiper">
					<div class="swiper-wrapper">
						<div class="swiper-slide" v-for="i, index in notices" @click="openNotice(i)">
							<div class="detail">
								<h1 v-text="i.title"></h1>
								<p v-text="i.logtime"></p>
							</div>
						</div>
					</div>
				</div>
			</div>
			
			<ul class="activity-block">
				<li @click="openActivityCategories"><i class="iconfont icon-huodong"></i>组织活动</li>
				<li @click="openTree"><i class="iconfont icon-jifen"></i>组织层级</li>
				<li @click="openMembers"><i class="iconfont icon-Id"></i>党员管理</li>
				<li @click="openRules"><i class="iconfont icon-ai-book"></i>规章制度</li>
				<li @click="openApprove"><i class="iconfont icon-user-approval"></i>事项审批</li>
				<li @click="changePswd"><i class="iconfont icon-key"></i>修改密码</li>
			</ul>
			
            <p class="tips" v-cloak>累计组织{{branchSummary.activitiesCnt}}次活动，{{branchSummary.membersCnt}}人次参与</p>
			
		</div>
		
		<div id="study" class="have-footer main activity-panel">
			<div class="study-block">
				<div @click="openStudyNews">
					<img src="./img/studyIcon1.png" />
					党建动态
				</div>
				<div @click="openBranchAct">
					<img src="./img/studyIcon2.png" />
					活动案例
				</div>
				<div @click="openPublicNotice">
					<img src="./img/studyIcon4.png" />
					通知公告
				</div>
			</div>
			
			<div class="study-block">
				<div @click="openHandCourse">
					<img src="./img/studyIcon3.png" />
					掌中课堂
				</div>
				<div @click="openBooks">
					<img src="./img/studyIcon6.png" />
					党建书屋
				</div>
				<div @click="openZhoushanNews">
					<img src="./img/studyIcon5.png" />
					关注舟山
				</div>
			</div>
			
			<div class="study-internet">
				<header class="global-header"><h1 class="title">推荐</h1></header>
				<div class="lists">
					<div class="list" v-for="i in coursesRecommended" @click="openCourse(i)">
                        <div class="thumb" :style="{backgroundImage: 'url('+ i.img +')'}"></div>
                        <div class="info">
							<h1 v-text="i.title"></h1>
							<p>
	                        	<span><i class="iconfont icon-men"></i>{{i.readcnt}}</span>
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div id="ucenter" class="have-footer have-header main ucenter">
			<div class="user">
				<div class="user-img" @click="openUcenter">
					<img :src="userInfo.img?userInfo.img:'img/organization.jpg'"/>
				</div>
				<p v-text="userInfo.orgName"></p>
			</div>
			
			<div class="ucenter-flex">
				<span @click="checkPoints"><i class="iconfont icon-icon1"></i>先锋指数</span>	
				<span @click="checkCredit"><i class="iconfont icon-jifen"></i>平台学时</span>	
			</div>
			<ul class="mui-table-view">
				<li class="mui-table-view-cell" @click="openPost">
					<a class="mui-navigate-right">
						<i class="iconfont icon-xiaoxi"></i>消息
					</a>
				</li>
				<li class="mui-table-view-cell" @click="openMyStudy">
					<a class="mui-navigate-right">
						<i class="iconfont icon-wodesk"></i>平台学习轨迹
					</a>
				</li>
				<li class="mui-table-view-cell" @click="openMyActivities">
					<a class="mui-navigate-right">
						<i class="iconfont icon-huodong"></i>组织活动轨迹
					</a>
				</li>
				<li class="mui-table-view-cell" @click="openApplication">
					<a class="mui-navigate-right">
						<i class="iconfont icon-shenqingdaishenhe"></i>增减分申请
					</a>
				</li>
			</ul>
			<ul class="mui-table-view" v-if="isAndroid">
				<li class="mui-table-view-cell" @click="clearCache">
					<a class="mui-navigate-right">
						<i class="iconfont icon-Clear"></i>清除缓存
					</a>
				</li>
				<li class="mui-table-view-cell" @click="checkNewVersion">
					<a class="mui-navigate-right">
						<i class="iconfont icon-shengji"></i>检查新版本
					</a>
					<span class="mui-badge mui-badge-danger" v-show="isNew">NEW</span>
				</li>
			</ul>
		</div>
	</body>

</html>
<script src="lib/utils.js"></script>
<script src="lib/swiper.min.js"></script>
<script src="lib/a_ref.js"></script>
<script src="js/index.js"></script>
