<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title></title>
		<script src="lib/jquery.min.js"></script>
		<script src="lib/vue.min.js"></script>
		<script src="lib/mui.min.js"></script>
		<link href="lib/mui.min.css" rel="stylesheet" />
		<link href="lib/swiper.min.css" rel="stylesheet" />
		<link rel="stylesheet" href="lib/iconfont.css" />
		<link rel="stylesheet" href="css/style.css" />
	</head>

	<body>
		<!-- 导航栏 -->
		<header class="mui-bar mui-bar-nav pageTitle">
            <button class="mui-btn mui-btn-blue mui-btn-link mui-pull-left goZSDJ">舟山党建网</button>
			<h1 class="mui-title">舟山共产党员</h1>
            <button class="mui-btn mui-btn-blue mui-btn-link mui-pull-right logout">退出</button>
		</header>

		<footer class="footer-tab" id="index-footer" v-show="isOrganization || isPersonal">
			<a class="active go-index" data-page="index">
				<i class="iconfont icon-danghui-copy"></i> 首页
			</a>
			<a class="go-activity" data-page="activity" v-show="isOrganization">
				<i class="iconfont icon-0045"></i> 组织生活
			</a>
			<a class="go-study" data-page="study" v-show="isPersonal">
				<i class="iconfont icon-xuexi"></i> 学习平台
			</a>
			<a class="go-ucenter" data-page="ucenter" v-show="isPersonal">
				<i class="iconfont icon-gerenzhongxinxia"></i> 个人中心
			</a>
		</footer>
		
		<div class="swiper-container index-swiper have-header" v-show="show">
			<div class="swiper-wrapper">
				<div class="swiper-slide" v-for="i in scrollNews" @click="gotoDetail(i)" :style="{backgroundImage: 'url('+ i.img +')'}">
				</div>
			</div>
			<div class="swiper-pagination index-pagination"></div>
			<div class="mui-slider-text">
				<p v-text="activeSlideText"></p>
			</div>
		</div>

		<div id="index" class="have-footer main" style="display:block">
			<!--<div class="manager-entry">
				<span @click="gotoOrganization"><i class="iconfont icon-partyflag"></i>组织登录</span>
				<span @click="gotoUcenter"><i class="iconfont icon-dangyuan"></i>党员登录</span>
			</div>-->
			
			<!--<div class="swiper-container scroll-org">
				<div class="swiper-wrapper">
					<div class="swiper-slide" v-for="i in recommandedOrgs" @click="openRecommandedOrg(i)">
						<i class="iconfont icon-minzhengxinxi-kunnandangyuan"></i>
						<p v-text="i.name"></p>
					</div>
				</div>
			</div>-->

			<div class="news-list">
				<header class="global-header"><h1 class="title">新闻</h1></header>
				<ul class="mui-table-view">
					<li v-for="i in headNews" @click="gotoDetail(i)">
						<a>
							<div class="mui-media-object mui-pull-left" :style="{backgroundImage: 'url('+ i.img +')'}"></div>
							<div class="mui-media-body">
								<p class="title" v-text="i.title"></p>
								<span class="date" v-text="i.newsdate"></span>
							</div>
						</a>
					</li>
				</ul>
				<footer class="block-button" v-show="hasMoreNews" @click="openNewsList">查看更多</footer>
			</div>
		
            
			<div class="activity news-list" v-show="activities.length">
				<header class="global-header"><h1 class="title">推荐活动</h1></header>
				<ul class="mui-table-view">
					<li v-for="i in activities" @click="goActivity(i)">
						<a>
							<!--<div class="mui-media-object mui-pull-left" :style="{backgroundImage: 'url('+ i.img +')'}" v-show="i.img"></div>-->
							<div class="mui-media-body">
								<p class="title" v-text="i.title"></p>
								<span class="date" v-text="i.orgName"></span>
								<span class="date" v-text="i.logtime"></span>
							</div>
						</a>
					</li>
				</ul>
				<footer class="block-button" v-show="hasMoreActivities" @click="openRecommend">查看更多</footer>
			</div>
            
		</div> 
		
		<div id="activity" class="have-footer main activity-panel" v-show="activity.length>0">
			
			<header class="org-info">
				<h1 v-cloak>{{curOrgName}}</h1>
				<div class="check">
					<i class="iconfont" @click="openSummary(idx)" v-for="i, idx in seasonSummary" :class="{'icon-circle': i[0] && [1], 'icon-chart12': i[0] ^ i[1], 'icon-jindu3': !i[0] && !i[1]}" v-bind:data-progress="idx+1"></i>
				</div>
				<!--<div class="check">
					<i class="iconfont icon-jindu3" data-progress="10%"></i>
					<i class="iconfont icon-circle" data-progress="33%"></i>
					<i class="iconfont icon-chart12" data-progress="67%"></i>
					<i class="iconfont icon-chart12" data-progress="67%"></i>
				</div>-->
			</header>
			
			<div class="notice">
                <header @click="openNotices"><i class="iconfont icon-xiaoxi"></i>通知</header>
				<div class="swiper-container notice-swiper">
					<div class="swiper-wrapper">
						<div class="swiper-slide" v-for="i, index in notices" @click="openNotice(i)">
							<div class="detail">
								<h1 v-text="i.title"></h1>
								<p v-text="i.logtime"></p>
							</div>
						</div>
					</div>
				</div>
			</div>
			
			<ul class="activity-block">
				<li @click="openActicityTopics"><i class="iconfont icon-huodong"></i>组织活动</li>
				<li @click="openTree"><i class="iconfont icon-jifen"></i>组织层级</li>
				<li @click="openMembers"><i class="iconfont icon-Id"></i>党员管理</li>
				<li @click="openRules"><i class="iconfont icon-ai-book"></i>规章制度</li>
				<li @click="openApprove"><i class="iconfont icon-user-approval"></i>事项审批</li>
				<li @click="changePswd"><i class="iconfont icon-key"></i>修改密码</li>
			</ul>
			
            <p class="tips" v-cloak>累计组织{{summary.activity}}次活动，{{summary.member}}人次参与</p>
			
		</div>
		
		<div id="study" class="have-footer main activity-panel">
			<div class="study-block">
				<div @click="goStudyNews">
					<img src="./img/studyIcon1.png" />
					党建动态
				</div>
				<div @click="goBranchAct">
					<img src="./img/studyIcon2.png" />
					活动案例
				</div>
				<div @click="goHandCourse">
					<img src="./img/studyIcon3.png" />
					掌中课堂
				</div>
			</div>
			
			<div class="study-block">
				<div @click="goPublicNotice">
					<img src="./img/studyIcon4.png" />
					通知公告
				</div>
				<div @click="goZhoushanNews">
					<img src="./img/studyIcon5.png" />
					关注舟山
				</div>
				<div @click="goStudyRank">
					<img src="./img/studyIcon6.png" />
					党建书屋
				</div>
			</div>
			
			<!--<div class="study-live">
				<header>
                    <span :class="{active:tabid==1}" @click="switchToLive(1)">今日直播</span>
					<span :class="{active:tabid==2}" @click="switchToLive(2)">明日预告</span>
					<span :class="{active:tabid==3}" @click="switchToLive(3)">最新录像</span>
				</header>

				<div class="live-program" v-show="!tabLive">暂无内容</div>

				<div class="live-program" v-show="!!tabLive">
                    <div class="thumb" :style="{backgroundImage: 'url('+ (tabLive?tabLive.img:'') +')'}"></div>
					<div class="detail">
                        <h1>{{tabLive?tabLive.title:''}}</h1>
						<footer>
                            <p><i class="iconfont icon-shijian"></i> {{tabLive?tabLive.starttime:''}}</p>
                            <p><i class="iconfont icon-men"></i> {{tabLive?tabLive.cnt:''}}</p>
						</footer>
						<span class="open" @click="openTabLive">
							<i class="iconfont icon-bofang"></i>
						</span>
					</div>
				</div>
			</div>-->
			
			<div class="study-internet">
				<header class="global-header"><h1 class="title">推荐</h1></header>
				<div class="lists">
					<div class="list" v-for="i in randomCourses" @click="openCourse(i)">
                        <div class="thumb" :style="{backgroundImage: 'url('+ i.img +')'}"></div>
                        <div class="info">
							<h1 v-text="i.title"></h1>
							<p>
	                        	<span><i class="iconfont icon-men"></i>{{i.readcnt}}</span>
							</p>
						</div>
					</div>
				</div>
				<!--<footer @click="randomTwoCourses"><span>更多课件</span></footer>-->
			</div>
		</div>

		<div id="ucenter" class="have-footer have-header main ucenter">
			<div class="user" @click="goLogin">
				<div class="user-img">
					<img :src="userInfo.img?userInfo.img:'img/organization.jpg'" v-show="isLogin" v-if="userInfo != null"/>
					<i class="iconfont icon-gerenzhongxinxia" v-show="!isLogin"></i>
				</div>
				<p v-text="isLogin ? userInfo.name : '立即登录'"></p>
				<p v-text="isLogin ? userInfo.orgName: ''" v-show="isLogin"></p>
			</div>
			
			<div class="ucenter-flex">
				<span @click="checkPoints"><i class="iconfont icon-icon1"></i>先锋指数</span>	
				<span @click="checkCredit"><i class="iconfont icon-jifen"></i>平台学时</span>	
			</div>
			<!--党员登录-->
			<ul class="mui-table-view" v-show="userType != 1">
				<li class="mui-table-view-cell" @click="goPost">
					<a class="mui-navigate-right">
						<i class="iconfont icon-xiaoxi"></i>消息
						<!--<span class="mui-badge mui-badge-danger"></span>-->
					</a>
				</li>
				<li class="mui-table-view-cell" @click="goMyStudy">
					<a class="mui-navigate-right">
						<i class="iconfont icon-wodesk"></i>平台学习轨迹
					</a>
				</li>
				<li class="mui-table-view-cell" @click="goMyActivity">
					<a class="mui-navigate-right">
						<i class="iconfont icon-huodong"></i>组织活动轨迹
					</a>
				</li>
				<li class="mui-table-view-cell" @click="goApplication">
					<a class="mui-navigate-right">
						<i class="iconfont icon-shenqingdaishenhe"></i>增减分申请
					</a>
				</li>
			</ul>
			<!--组织登录-->
			<ul class="mui-table-view" v-show="userType == 1">
				<li class="mui-table-view-cell" @click="goOrgStudy">
					<a class="mui-navigate-right">
						<i class="iconfont icon-wodesk"></i>组织学习
					</a>
				</li>
				<li class="mui-table-view-cell" @click="goOrgActivity">
					<a class="mui-navigate-right">
						<i class="iconfont icon-huodong"></i>组织活动
					</a>
				</li>
			</ul>
			<ul class="mui-table-view" v-show="isLogin || androidUpdate">
				<!--<li class="mui-table-view-cell" @click="goRecommend">
					<a class="mui-navigate-right">
						<i class="iconfont icon-tuijian"></i>推荐
					</a>
				</li>-->
				<li class="mui-table-view-cell" v-show="isLogin" @click="logout">
					<a class="mui-navigate-right">
						<i class="iconfont icon-fill108"></i>退出登录
					</a>
				</li>
				<li class="mui-table-view-cell" @click="clearCache" v-if="androidUpdate">
					<a class="mui-navigate-right">
						<i class="iconfont icon-Clear"></i>清除缓存
					</a>
				</li>
				<li class="mui-table-view-cell" @click="checkNewVersion" v-if="androidUpdate">
					<a class="mui-navigate-right">
						<i class="iconfont icon-shengji"></i>检查新版本
					</a>
					<span class="mui-badge mui-badge-danger" v-show="isNew">NEW</span>
				</li>
			</ul>
		</div>
	</body>

</html>
<script src="lib/utils.js"></script>
<script src="lib/swiper.min.js"></script>
<script src="lib/a_ref.js"></script>
<script src="js/index.js"></script>
