<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title></title>
		<script src="../lib/jquery.min.js"></script>
		<script src="../lib/jsencrypt.min.js"></script>
		<script src="../lib/vue.min.js"></script>
		<script src="../lib/mui.min.js"></script>
		<link href="../lib/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" href="../lib/iconfont.css" />
		<link rel="stylesheet" href="../css/style.css" />
	</head>
	<body>
		<!-- 导航栏 -->
		<header class="mui-bar mui-bar-nav">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<h1 class="mui-title">筛选缺席</h1>
		</header>
		
		<div id="selectAbsents" class="have-header have-footer">
			<!--活动发布编辑时筛选组织成员时显示-->
			<div class="scroll-tabs">
				<span :class="{active: curReasonId == idx}" v-for="i, idx in reasons" v-text="i" @click="curReasonId = idx"></span>
				<span :class="{active: curReasonId == reasons.length}" @click="curReasonId = reasons.length">其他</span>
			</div>
			<form action="" class="search-bar" v-show="curReasonId == reasons.length" onsubmit="return false;">
				<input type="search" maxlength="8" v-model="otherReason" placeholder="请输入其他理由"/>
			</form>
			<ul class="mui-table-view select-list">
				<li class="mui-table-view-cell" v-for="i in users" @click="updateAbsentReason(i)">
                    <!--<input name="checkbox" type="checkbox" v-model="i.ifSelect" @change="updateAbsentReason(i)">{{i.name}}-->
                    <i class="iconfont" :class="{'icon-weixuanzhong':!i.ifSelect, 'icon-xuanzhong':i.ifSelect}"></i>{{i.name}}
				</li>
			</ul>
		</div>
	</body>
</html>
<script src="../lib/utils.js"></script>
<script src="../lib/a_ref.js"></script>

