<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title></title>
		<script src="../lib/jquery.min.js"></script>
		<script src="../lib/vue.min.js"></script>
		<script src="../lib/mui.min.js"></script>
		<link href="../lib/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" href="../lib/iconfont.css" />
		<link rel="stylesheet" href="../css/style.css" />
	</head>
	<body>
		<!-- 导航栏 -->
		<header class="mui-bar mui-bar-nav">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<h1 class="mui-title">活动心得</h1>
		</header>
		
		<div id="activityExperiences" class="have-header have-footer mAR">
			<ul class="mui-table-view mui-table-view-striped mui-table-view-condensed">
		        <li class="mui-table-view-cell" v-for="i in experiences" @click="openExperience(i)">
		            <div class="mui-table">
		                <div class="mui-table-cell mui-col-xs-9">
		                    <h4 class="mui-ellipsis" v-text="i.experienceTitle"></h4>
		                    <h5 v-text="i.name"></h5>
                            <p class="mui-h6 mui-ellipsis">{{parseInt(i.experiencePermitted)?"已审核":"未审核"}}</p>
		                </div>
		                <div class="mui-table-cell mui-col-xs-3 mui-text-right">
		                    <span class="mui-h5" v-text="i.experienceTime"></span>
		                </div>
		            </div>
		        </li>
		    </ul>
		</div>
	</body>
</html>
<script src="../lib/utils.js"></script>
<script src="../lib/a_ref.js"></script>
<script src="../js/activityExperiences.js"></script>

