<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title></title>
		<script src="../lib/jquery.min.js"></script>
		<script src="../lib/vue.min.js"></script>
		<script src="../lib/mui.min.js"></script>
		<link href="../lib/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" href="../lib/iconfont.css" />
		<link rel="stylesheet" href="../css/style.css" />
	</head>
	<body>
		<!-- 导航栏 -->
		<header class="mui-bar mui-bar-nav">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<h1 class="mui-title">活动列表</h1>
			<button class="mui-btn mui-btn-blue mui-btn-link mui-pull-right" id="operate">添加</button>
		</header>
		
		<div id="activityList" class="activity have-header have-footer">
			<ul class="activity-list" v-cloak>
				<li v-for="(a, idx) in activityList">
					<div class="img" :style="{backgroundImage: 'url('+ a.img +')'}" @click="goActivityDetail(a)"><span>{{a.applicant}}人已报名</span></div>
					<h1 v-text="a.title"></h1>
					<p>活动时间: {{a.starttime}} - {{a.endtime}}</p>
					<p><span class="status">{{a.status}} 进入></span></p>
					<p>
                        <!-- 暂时不提供向下级推送的服务
                        <span class="activitySort" v-show="isAdmin">
                            <i class="iconfont icon-zhuanfa"></i>
                        </span>
                        -->
                        <span class="activitySort" v-show="isAdmin" @click="delActivity(a, idx)">
                            <i class="iconfont icon-shanchu"></i>
                        </span>
                        <span class="activitySort" v-show="isAdmin" @click="editActivity(a, idx)">
                            <i class="iconfont icon-bianji"></i>
                        </span>
                    </p>
				</li>
			</ul>
			<!--<footer @click="getActivityList" class="block-button" v-show="bHaveMore">查看更多</footer>-->
		</div>
	</body>
</html>
<script src="../lib/utils.js"></script>
<script src="../lib/a_ref.js"></script>
<script src="../js/activityList.js"></script>
