<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title></title>
		<script src="../lib/jquery.min.js"></script>
		<script src="../lib/jsencrypt.min.js"></script>
		<script src="../lib/vue.min.js"></script>
		<script src="../lib/mui.min.js"></script>
		<link href="../lib/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" href="../lib/iconfont.css" />
		<link rel="stylesheet" href="../css/style.css" />
	</head>
	<body>
		<!-- 导航栏 -->
		<header class="mui-bar mui-bar-nav">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<h1 class="mui-title">添加活动</h1>
            <button class="mui-btn mui-btn-blue mui-btn-link mui-pull-right info-save">暂存</button>
		</header>
		
		<div id="activityUpload" class="article-upload have-header have-footer">
			<form class="mui-input-group">
			    <div class="mui-input-row">
			        <label>主题</label>
			    	<input type="text" class="mui-input-clear" placeholder="主题" v-model="title">
			    </div>
			    <div class="mui-input-row">
			        <label>主持人</label>
			        <input type="text" class="mui-input-clear" placeholder="主持人" v-model="organizer">
			        <!--<p @click="chooseMC" v-text="selectMC"></p>-->
			    </div>
			    <div class="mui-input-row">
			        <label>记录人</label>
			        <input type="text" class="mui-input-clear" placeholder="记录人" v-model="recorder">
			        <!--<p @click="chooseRecorder" v-text="selectRecorder"></p>-->
			    </div>
			    <div class="mui-input-row">
			        <label>列席人员</label>
			        <input type="text" class="mui-input-clear" placeholder="列席人员" v-model="superAttenders">
			    </div>
			    <div class="mui-input-row">
			        <label>地点</label>
			        <input type="text" class="mui-input-clear" placeholder="地点" v-model="location">
			    </div>
			    <div class="mui-input-row">
			        <label>开始时间</label>
			        <p @click="chooseStarttime($event)" v-text="starttime"></p>
			    </div>
			    <div class="mui-input-row">
			        <label>结束时间</label>
			        <p @click="chooseEndtime($event)" v-text="endtime"></p>
			    </div>
			    <div class="mui-input-row mui-input-image">
			        <label>封面图</label>
			        <div class="thumb-upload" :style="imgStyle">
			        	<input type="file" accept="image/*" @change="uploadImg($event)">
			        </div>
			    </div>
			    <div class="mui-input-row" @click="chooseTopics">
			        <label>积分量化</label>
                    <p v-text="selectTagName"></p>
			    </div>
			    <div class="mui-input-row" @click="chooseCategories">
			        <label>活动分类</label>
			        <p v-text="selectCategoryName">默认分类名称</p>
			    </div>
			    <div class="mui-input-row mui-input-textarea">
			        <label>内容</label>
			        <textarea rows="10" placeholder="内容" v-model="content"></textarea>
			    </div>
			    <div class="mui-input-row mui-input-textarea" @click="chooseParticipants">
			        <label>应到人员</label>
                    <textarea v-text="selectParticipantNames" disabled :rows="isBranch?10:20"></textarea>
			    </div>
			    <div class="mui-input-row mui-input-textarea" @click="chooseAbsents" v-show="isBranch">
			        <label>缺席人员</label>
                    <textarea v-text="absentNames" disabled rows="10"></textarea>
			    </div>
			    <div class="mui-input-row mui-input-textarea" @click="chooseInvalid" v-show="isBranch">
			        <label>因公不记录人员</label>
                    <textarea v-text="invalidNames" disabled rows="10"></textarea>
			    </div>
			    <!--<div class="mui-input-row">
			        <label>出差人员</label>
			        <p>请选择缺席的出差人员</p>
			    </div>
			    <div class="mui-input-row">
			        <label>请假人员</label>
			        <p>请选择缺席的请假人员</p>
			    </div>
			    <div class="mui-input-row">
			        <label>其他人员</label>
			        <p>请选择缺席的其他人员</p>
			    </div>-->
			</form>		
		 	<footer @click="newActivity" class="block-button" v-text="aid?'更新':'添加'"></footer>
		</div>
	</body>
</html>
<script src="../lib/utils.js"></script>
<script src="../lib/a_ref.js"></script>
