<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title></title>
		<script src="../lib/jquery.min.js"></script>
		<script src="../lib/vue.min.js"></script>
		<script src="../lib/mui.min.js"></script>
		<link href="../lib/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" href="../lib/iconfont.css" />
		<link rel="stylesheet" href="../css/style.css" />
	</head>
	
	<body>
		<!-- 导航栏 -->
		<header class="mui-bar mui-bar-nav">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<h1 class="mui-title">增减分申请</h1>
		</header>
		`
		<div id="application" class="have-header">
			<form class="mui-input-group">
			    <div class="mui-input-row mui-input-textarea">
			        <label>内容</label>
			        <textarea rows="15" placeholder="内容" v-model="content"></textarea>
			    </div>
			    <div class="mui-input-row mui-input-image">
			        <label>附件</label>
			        <div class="thumb-upload" :style="imgStyle">
			        	<input type="file" accept="image/*" @change="uploadImg($event)">
			        </div>
			    </div>
			    <div class="mui-input-row">
			        <label>分数</label>
			        <select v-model="score">
			        		<option>-5</option>
			        		<option>-4</option>
			        		<option>-3</option>
			        		<option>-2</option>
			        		<option>-1</option>
			        		<option>1</option>
			        		<option>2</option>
			        		<option>3</option>
			        		<option>4</option>
			        		<option>5</option>
			        	</select>
			    </div>
			    <div class="mui-input-row mui-input-textarea" v-show="reason != ''">
			        <label>打回理由</label>
			        <textarea rows="15" placeholder="打回理由" v-model="reason"></textarea>
			    </div>
			</form>	
			<footer class="block-button" @click="submitApplication" v-text="id?'更新':'提交'">footer>
			<!--<footer class="block-button" style="background-color: #0062cc;" v-show="userInfo.userType == 1" @click="operateApplication">驳回</footer>-->
		</div>
	</body>
</html>
<script src="../lib/utils.js"></script>
<script src="../lib/a_ref.js"></script>
<script src="../js/application.js"></script>
