<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title></title>
		<script src="../lib/jquery.min.js"></script>
		<script src="../lib/jsencrypt.min.js"></script>
		<script src="../lib/vue.min.js"></script>
		<script src="../lib/mui.min.js"></script>
		<link href="../lib/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" href="../lib/iconfont.css" />
		<link rel="stylesheet" href="../css/style.css" />
	</head>
	<body>
		<!-- 导航栏 -->
		<header class="mui-bar mui-bar-nav">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<h1 class="mui-title">掌中课堂</h1>
			<!--<button class="mui-btn mui-btn-blue mui-btn-link mui-pull-right search-btn">搜索</button>-->
		</header>
		
		<div id="internetList" class="news-list internet-list have-header have-footer" v-cloak>
			<div class="scroll-tabs">
				<span :class="{active: curId == 0}" @click="curId = 0">全部</span>
				<span :class="{active: curId == i.id}" v-for="i in categories" v-text="i.name" @click="curId = i.id"></span>
			</div>
			<form class="search-bar" onsubmit="return false;">
				<input type="search" maxlength="8" v-model="searchWord" placeholder="请输入标题搜索" @keyup="searchCourses(event)"/>
			</form>
			<ul class="mui-table-view">
				<!--<li v-for="i in courses['c_'+curId].news" @click="openCourse(i)">-->
				<li v-for="i in showCourses" @click="openCourse(i)">
					<a>
						<div class="mui-media-object mui-pull-left" :style="{backgroundImage: 'url('+ i.img +')'}"></div>
						<div class="mui-media-body">
							<p class="title" v-text="i.title"></p>
							<!--<p class="desc" v-text='i.brief'></p>-->
							<!--<span class="btn">进入学习</span>-->
							<span class="date" v-text="i.newsdate"></span>
						</div>
					</a>
				</li>
			</ul>
			<footer @click="getInternetList" class="block-button" v-show="courses['c_'+curId].bHaveMore">查看更多</footer>
		</div>
	</body>
</html>
<script src="../lib/utils.js"></script>
<script src="../lib/a_ref.js"></script>
