<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title></title>
		<script src="../lib/jquery.min.js"></script>
		<script src="../lib/jsencrypt.min.js"></script>
		<script src="../lib/vue.min.js"></script>
		<script src="../lib/mui.min.js"></script>
		<link href="../lib/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" href="../lib/iconfont.css" />
		<link rel="stylesheet" href="../css/style.css" />
	</head>
	<body>
		<!-- 导航栏 -->
		<header class="mui-bar mui-bar-nav">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<h1 class="mui-title">兼合支部信息</h1>
            <!--<button class="mui-btn mui-btn-blue mui-btn-link mui-pull-right info-save">暂存</button>-->
		</header>
		
		<div id="jhActivityUpload" class="article-upload have-header have-footer">
			<form class="mui-input-group">
			    <div class="mui-input-row">
			        <label>名称</label>
			        <input type="text" class="mui-input-clear" placeholder="名称" v-model="info.orgName" >
			    </div>
			    <div class="mui-input-row">
			        <label>代码</label>
			        <input type="text" class="mui-input-clear" placeholder="代码" v-model="info.orgNo" >
			    </div>
			    <div class="mui-input-row mui-input-textarea">
			        <label>上级组织</label>
			        <input type="text" class="mui-input-clear" placeholder="上级组织" v-model="info.superOrgName" disabled>
			    </div>
			    <div class="mui-input-row">
			        <label>类型</label>
			        <input type="text" class="mui-input-clear" placeholder="类型" v-model="info.type" disabled>
			    </div>
			    <div class="mui-input-row">
			        <label>书记</label>
			        <input type="text" class="mui-input-clear" placeholder="书记" v-model="info.secretary" >
			    </div>
			    <div class="mui-input-row">
			        <label>书记电话</label>
			        <input type="text" class="mui-input-clear" placeholder="书记电话" v-model="info.secretaryPhone" >
			    </div>
			</form>		

		 	<footer @click="newJhOrg" class="block-button" v-text="isEdit?'更新':'提交'"></footer>
		</div>
	</body>
</html>
<script src="../lib/utils.js"></script>
<script src="../lib/a_ref.js"></script>
