<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title></title>
		<script src="../lib/jquery.min.js"></script>
		<script src="../lib/vue.min.js"></script>
		<script src="../lib/mui.min.js"></script>
		<link href="../lib/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" href="../lib/iconfont.css" />
		<link rel="stylesheet" href="../css/style.css" />
	</head>
	<body>
		<!-- 导航栏 -->
		<header class="mui-bar mui-bar-nav">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<h1 class="mui-title">直播课堂</h1>
		</header>
		<div id="liveList" class="live-list have-header have-footer" v-cloak>
			<ul>
				<li v-for="l in lives" @click="goLiveDetail(l)">
					<p v-text="l.title"></p>
					<div class="img" :style="{backgroundImage: 'url('+ l.img +')'}"></div>
					<footer v-cloak>
						<span><i class="iconfont icon-men"></i> {{l.audience}}人参加</span>
						<span :class="{'active':l.status=='正在直播'}"><i class="iconfont icon-bofang"></i> {{l.status}}</span>
					</footer>
				</li>
			</ul>
			<footer @click="getLiveList" class="block-button" v-show="bHaveMore">查看更多</footer>
		</div>
	</body>
</html>
<script src="../lib/utils.js"></script>
<script src="../lib/a_ref.js"></script>
<script src="../js/liveList.js"></script>
