<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title></title>
		<script src="../lib/jquery.min.js"></script>
		<script src="../lib/vue.min.js"></script>
		<script src="../lib/mui.min.js"></script>
		<link href="../lib/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" href="../lib/iconfont.css" />
		<link rel="stylesheet" href="../css/style.css" />
	</head>
	
	<body>
		<!-- 导航栏 -->
		<header class="mui-bar mui-bar-nav">
			<h1 class="mui-title">登录</h1>
            <button class="mui-btn mui-btn-blue mui-btn-link mui-pull-right goZSDJ">舟山党建网</button>
		</header>
		
		<div id="login" class="have-header login">
			<img src="../img/default.png" alt="" />
			
			<div class="input-frame">
				<i class="iconfont icon-icon-test"></i><input type="text" maxlength="12" :placeholder="usernameTag" v-model="username"/>
			</div>
			<div class="input-frame">
				<i class="iconfont icon-mima"></i><input type="password" maxlength="12" placeholder="请输入您的密码" v-model="password"/>
			</div>
			<div class="input-frame">
                <i class="iconfont icon-cengji"></i>
                <select v-model="type">
                    <option value="organization">组织账户</option>
                    <option value="personal">个人账户</option>
                </select>
			</div>
			<div class="input-frame" @click="chooseYear" >
				<i class="iconfont icon-more"></i><input type="text" v-model="year" disabled/>
			</div>
			<div class="login-btns">
				<span @click="login">登录</span>
				<span>游戏登录</span>
			</div>
			<div class="footer"><a>忘记密码</a></div>
		</div>
	</body>
</html>
<script src="../lib/utils.js"></script>
<script src="../lib/a_ref.js"></script>
<script src="../js/login.js"></script>
