<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title></title>
		<script src="../lib/jquery.min.js"></script>
		<script src="../lib/vue.min.js"></script>
		<script src="../lib/mui.min.js"></script>
		<link href="../lib/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" href="../lib/iconfont.css" />
		<link rel="stylesheet" href="../css/style.css" />
	</head>
	
	<body>
		<!-- 导航栏 -->
		<header class="mui-bar mui-bar-nav">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<h1 class="mui-title">登录</h1>
		</header>
		
		<div id="login" class="have-header login">
			<!--<img src="../img/default.png" alt="" />-->
			<div id="slider" class="mui-slider slider">
				<div id="sliderSegmentedControl" class="mui-slider-indicator mui-segmented-control mui-segmented-control-inverted">
					<div class="block-style">
						<div class="control-item-inline">
							<a class="mui-control-item mui-active">党员</a>
						</div>
						<div class="control-item-inline">
							<a class="mui-control-item">党组织</a>
						</div>
					</div>
				</div>
			
				<!-- 进度条 -->
				<div class="block-style">
					<div id="sliderProgressBar" class="block-style mui-slider-progress-bar mui-col-xs-6">
					</div>
				</div>
			</div>

			<div class="input-frame">
				<i class="iconfont icon-icon-test"></i><input type="text" maxlength="11" placeholder="请输入您的账号"/>
			</div>
			<div class="input-frame">
				<i class="iconfont icon-mima"></i><input type="password" maxlength="12" placeholder="请输入您的密码"/>
			</div>
			<span>登录</span>
		</div>
	</body>
</html>
<script src="../lib/utils.js"></script>
<script src="../lib/a_ref.js"></script>
<script src="../js/login.js"></script>
