<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title></title>
		<script src="../lib/jquery.min.js"></script>
		<!--<script src="https://develop.wifizs.cn:11070/admin/dist/assets/js/relatedData.js"></script>-->
		<script src="../lib/jsencrypt.min.js"></script>
		<script src="../lib/vue.min.js"></script>
		<script src="../lib/mui.min.js"></script>
		<link href="../lib/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" href="../lib/iconfont.css" />
		<link rel="stylesheet" href="../css/style.css" />
	</head>
	
	<body>
		<!-- 导航栏 -->
		<header class="mui-bar mui-bar-nav">
			<h1 class="mui-title">登录</h1>
            <!--<button class="mui-btn mui-btn-blue mui-btn-link mui-pull-right guestLogin">游客登录</button>-->
		</header>
		
		<div id="login" class="have-header login">
			<img src="../img/default.png" alt="" />
			
			<div class="input-frame">
				<i class="iconfont icon-icon-test"></i><input type="text" maxlength="18" :placeholder="nameTag" v-model="name"/>
			</div>
			<!--<div class="input-frame">
				<i class="iconfont icon-mima"></i><input type="password" maxlength="18" placeholder="请输入您的密码" v-model="pswd"/>
			</div>-->
			<div class="input-frame">
				<i class="iconfont icon-yanzhengma"></i><input type="number" maxlength="4" placeholder="请输入验证码" v-model="pswd"/>
				<span v-text="codeTag" @click="sendCode"></span>
			</div>
			<!--<div class="input-frame" @click="chooseYear" >
				<i class="iconfont icon-more"></i><input type="text" v-model="year" disabled/>
			</div>-->
			<div class="input-frame">
                <div class="mui-input-row mui-radio mui-left">
					<label style="font-size:14px;padding-left:45px">个人</label>
					<input name="userType" type="radio" checked @change="loginType = 'personal'" style="left:5px;">
				</div>
				<div class="mui-input-row mui-radio mui-left" style="margin-left:10px;">
					<label style="font-size:14px;padding-left:45px">组织</label>
					<input name="userType" type="radio" @change="loginType = 'organization'" style="left:5px;">
				</div>
				<div class="mui-input-row mui-radio mui-left" >
					<label style="font-size:14px;padding-left:45px">兼合</label>
					<input name="userType" type="radio" @change="loginType = 'jh'" style="left:5px;">
				</div>
			</div>
			<div class="login-btns" @click="verify">
				<span>登录</span>
			</div>
			<div class="footer">
				<!--<a @click="forgetPswd" v-show="loginType === 'personal'">忘记密码</a>-->
				<a @click="openIndex">没有账号?游客浏览</a>
            </div>
			<div class="footer">
				<a @click="openGuide">使用指南>></a>
			</div>
		</div>
	</body>
</html>
<script src="../lib/utils.js"></script>
<script src="../lib/a_ref.js"></script>
<!--<script src="../js/login.js"></script>-->
