<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title></title>
		<script src="../lib/jquery.min.js"></script>
		<script src="../lib/vue.min.js"></script>
		<script src="../lib/mui.min.js"></script>
		<link href="../lib/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" href="../lib/iconfont.css" />
		<link rel="stylesheet" href="../css/style.css" />
	</head>
	<body>
		<!-- 导航栏 -->
		<header class="mui-bar mui-bar-nav">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<h1 class="mui-title">活动记录</h1>
		</header>
		
		<div id="mAR" class="have-header have-footer mAR">
			<ul class="mui-table-view mui-table-view-striped mui-table-view-condensed">
                <!--
		        <li class="mui-table-view-cell">
		            <div class="mui-table">
		                <div class="mui-table-cell mui-col-xs-9">
		                    <h4 class="mui-ellipsis">本年度学习统计积分</h4>
                            <p class="mui-h6 mui-ellipsis" v-text="studyScore+'分'"></p>
                        </div>
		                <div class="mui-table-cell mui-col-xs-3 mui-text-right">
                            <span class="mui-h5"></span>
		                </div>
		            </div>
                </li>
                -->
		        <li class="mui-table-view-cell" v-for="i in activities" @click="actions(i)">
		            <div class="mui-table">
		                <div class="mui-table-cell mui-col-xs-9">
		                    <h4 class="mui-ellipsis" v-text="i.title"></h4>
                            <h5>{{i.experience?i.experience:"暂无心得"}}</h5>
                            <p class="mui-h6 mui-ellipsis">{{i.score?(i.score+(i.scoreType=="百分制"?"分":"星")):"暂未打分"}}</p>
		                </div>
		                <div class="mui-table-cell mui-col-xs-3 mui-text-right">
                            <span class="mui-h5">{{i.logtime}}</span>
		                </div>
		            </div>
		        </li>
		    </ul>
		</div>
	</body>
</html>
<script src="../lib/utils.js"></script>
<script src="../lib/a_ref.js"></script>
<script src="../js/memberActivityRecord.js"></script>

