<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title></title>
		<script src="../lib/jquery.min.js"></script>
		<script src="../lib/vue.min.js"></script>
		<script src="../lib/mui.min.js"></script>
		<link href="../lib/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" href="../lib/iconfont.css" />
		<link rel="stylesheet" href="../css/style.css" />
	</head>
	<body>
		<!-- 导航栏 -->
		<header class="mui-bar mui-bar-nav">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<h1 class="mui-title">留言板</h1>
            <button class="mui-btn mui-btn-blue mui-btn-link mui-pull-right publish">发布</button>
		</header>
		
		<div id="msgBoard" class="have-header have-footer">
			<div class="msg">
				<img src="https://tvax3.sinaimg.cn/crop.0.0.1002.1002.180/00774ILXly8g84w1f9aosj30ru0rugnv.jpg?KID=imgbed,tva&Expires=1571822385&ssig=ApT%2Bc906cc" alt="" class="avatar" />
				<div class="msg-info">
					<h3>高玛莎</h3>
					<p>中共舟山广播电视总台第三支部</p>
					<article>其实百度还可以再接着降速...差不多5KB/s 这种速度我猜这样开通百度超级会员的人数会以炒鸡爆炸指数阿姆斯特朗回旋加速炮的形式进行极速增长。 ​​​​</article>
					<p>2019-10-21 12:12:12</p>
				</div>
			</div>
		</div>
	</body>
</html>
<script src="../lib/utils.js"></script>
<script src="../lib/a_ref.js"></script>
<script src="../js/msgBoard.js"></script>

