<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title></title>
		<script src="../lib/jquery.min.js"></script>
		<script src="../lib/vue.min.js"></script>
		<script src="../lib/mui.min.js"></script>
		<link href="../lib/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" href="../lib/iconfont.css" />
		<link rel="stylesheet" href="../css/style.css" />
	</head>
	<body>
		<!-- 导航栏 -->
		<header class="mui-bar mui-bar-nav">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<h1 class="mui-title">考核规则</h1>
		</header>
		
		<div id="newRule" class="have-header have-footer">
			<div class="scroll-tabs summary-tabs">
				<span class="active">年度</span>
				<span>季度</span>
				<span>月度</span>
			</div>
			<div class="mui-rows rule-rows">
				<div class="mui-row clearfix">
			        <div class="mui-col-sm-4 mui-col-xs-4">名称</div>
			        <div class="mui-col-sm-4 mui-col-xs-4">次数</div>
			        <div class="mui-col-sm-4 mui-col-xs-4">操作</div>
			    </div>
				<div class="mui-row">
			        <div class="mui-col-sm-4 mui-col-xs-4">
			                    Item 1    
			        </div>
			        <div class="mui-col-sm-4 mui-col-xs-4">
			                    Item 1
			        </div>
			        <div class="mui-col-sm-4 mui-col-xs-4">
			            <div class="mui-switch mui-switch-blue">
						  	<div class="mui-switch-handle"></div>
						</div>
			        </div>
			    </div>
		    </div>
		</div>
	</body>
</html>
<script src="../lib/utils.js"></script>
<script src="../lib/a_ref.js"></script>
<script src="../js/newRule.js"></script>

