<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title></title>
		<script src="../lib/jquery.min.js"></script>
		<script src="../lib/jsencrypt.min.js"></script>
		<script src="../lib/vue.min.js"></script>
		<script src="../lib/mui.min.js"></script>
		<link href="../lib/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" href="../lib/iconfont.css" />
		<link rel="stylesheet" href="../css/style.css" />
	</head>
	<body>
		<!-- 导航栏 -->
		<header class="mui-bar mui-bar-nav">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<h1 class="mui-title">消息中心</h1>
		</header>
		
		<div id="notice" class="have-header have-footer">
			<ul class="mui-table-view">
				<li class="mui-table-view-cell mui-media" v-for="i in notices">
					<a href="javascript:;">
						<span class="mui-media-object mui-pull-left"><i class="iconfont" :class="{'icon-093info': i.tp=='info', 'icon-70chenggong': i.tp=='success', 'icon-71shibai': i.tp=='fail'}"></i></span>
						<div class="mui-media-body">
							{{i.msg}}
							<p class="mui-ellipsis" v-text="i.logtime"></p>
						</div>
					</a>
				</li>
				<!--<li class="mui-table-view-cell mui-media">
					<a href="javascript:;">
						<span class="mui-media-object mui-pull-left"><i class="iconfont icon-088help02"></i></span>
						<div class="mui-media-body">
							消息消息消息消息消息消息消息消息消息消息消息消息消息
							<p class="mui-ellipsis">2017-05-05</p>
						</div>
					</a>
				</li>
				<li class="mui-table-view-cell mui-media">
					<a href="javascript:;">
						<span class="mui-media-object mui-pull-left"><i class="iconfont icon-72jingshi"></i></span>
						<div class="mui-media-body">
							消息消息消息消息消息消息消息消息消息消息消息消息消息
							<p class="mui-ellipsis">2017-05-05</p>
						</div>
					</a>
				</li>
				<li class="mui-table-view-cell mui-media">
					<a href="javascript:;">
						<span class="mui-media-object mui-pull-left"><i class="iconfont icon-71shibai"></i></span>
						<div class="mui-media-body">
							消息消息消息消息消息消息消息消息消息消息消息消息消息
							<p class="mui-ellipsis">2017-05-05</p>
						</div>
					</a>
				</li>
				<li class="mui-table-view-cell mui-media">
					<a href="javascript:;">
						<span class="mui-media-object mui-pull-left"><i class="iconfont icon-70chenggong"></i></span>
						<div class="mui-media-body">
							消息消息消息消息消息消息消息消息消息消息消息消息消息
							<p class="mui-ellipsis">2017-05-05</p>
						</div>
					</a>
				</li>-->
			</ul>
		</div>
	</body>
</html>
<script src="../lib/utils.js"></script>
<script src="../lib/a_ref.js"></script>
