<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title></title>
		<script src="../lib/jquery.min.js"></script>
		<script src="../lib/jsencrypt.min.js"></script>
		<script src="../lib/vue.min.js"></script>
		<script src="../lib/mui.min.js"></script>
		<link href="../lib/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" href="../lib/iconfont.css" />
		<link rel="stylesheet" href="../css/style.css" />
	</head>
	<body>
		<!-- 导航栏 -->
		<header class="mui-bar mui-bar-nav">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<h1 class="mui-title">组织信息</h1>
			<button class="mui-btn mui-btn-blue mui-btn-link mui-pull-right">切换</button>
		</header>
		
		<div id="organization" class="have-header have-footer ucenter">
			<div class="user">
				<div class="user-img">
					<img :src="orgInfo.img"/>
				</div>
				<p v-text="orgInfo.name"></p>
			</div>
			
			<ul class="mui-table-view">
			    <li class="mui-table-view-cell" v-cloak>组织代码：{{orgInfo.no}}</li>
			    <li class="mui-table-view-cell" v-cloak>组织类别：{{orgInfo.type}}</li>
			    <li class="mui-table-view-cell" v-cloak>组织书记：{{orgInfo.secretary}}</li>
			    <li class="mui-table-view-cell" v-cloak><a class="mui-navigate-right">组织人数：{{orgInfo.memCount}}</a></li>
			</ul>
			
			<ul class="mui-table-view">
			    <li class="mui-table-view-cell" v-cloak>组织积分：{{orgInfo.no}}</li>
			    <li class="mui-table-view-cell" v-cloak>累计活动：{{orgInfo.type}}</li>
			</ul>
		</div>
	</body>
</html>
<script src="../lib/utils.js"></script>
<script src="../lib/a_ref.js"></script>
