<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title></title>
		<script src="../lib/jquery.min.js"></script>
		<script src="../lib/jsencrypt.min.js"></script>
		<script src="../lib/vue.min.js"></script>
		<script src="../lib/mui.min.js"></script>
		<link href="../lib/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" href="../lib/iconfont.css" />
		<link rel="stylesheet" href="../css/style.css" />
	</head>
	<body>
		<!-- 导航栏 -->
		<header class="mui-bar mui-bar-nav">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<h1 class="mui-title"></h1>
		</header>
		
		<div id="score" class="score have-header have-footer">
			<!--<div class="sub-bar">
				<ul>
					<li @click="changeTab(0)" :class="{'active': activeTab == 0}">
						<a>党员先锋指数</a>
					</li>
					<li @click="changeTab(1)" :class="{'active': activeTab == 1}">
						<a>平台学时</a>
					</li>
				</ul>
			</div>-->
			
			<div class="content">
                <div class="star-grade" v-show="activeTab == 0">
					<i class="iconfont" :class="{'icon-star': activityScore>=20, 'icon-starhalfempty': activityScore<20 && activityScore>=10, 'icon-staro': activityScore<10}"></i>
					<i class="iconfont" :class="{'icon-star': activityScore>=40, 'icon-starhalfempty': activityScore<40 && activityScore>=30, 'icon-staro': activityScore<30}"></i>
					<i class="iconfont" :class="{'icon-star': activityScore>=60, 'icon-starhalfempty': activityScore<60 && activityScore>=50, 'icon-staro': activityScore<50}"></i>
					<i class="iconfont" :class="{'icon-star': activityScore>=80, 'icon-starhalfempty': activityScore<80 && activityScore>=70, 'icon-staro': activityScore<70}"></i>
					<i class="iconfont" :class="{'icon-star': activityScore>=100, 'icon-starhalfempty': activityScore<100 && activityScore>=90, 'icon-staro': activityScore<90}"></i>
                </div>
                <div class="time-score" v-show="activeTab == 1">
                	<!--<p>总学时</p>-->
                	<p><span>总学时</span></p>
                	<span v-text="totalScore"></span>
                	<div class="time-score_explain" @click="openRule">学时规则 ></div>
                </div>
			</div>
			 
		    <div class="time-score_header" v-show="activeTab == 1">
	    		<h3>学时明细</h3>
	    		<div class="time-score_detail_total">
	    			今日已累积
	    			<span v-cloak>{{todayScore}}学时</span>
	    		</div>
		    </div>
		    
		    <div class="time-score_lists" v-show="activeTab == 1">
		    	<div class="time-score_list">
		    		<div class="time-score_list_left">
		    			<h3>登录</h3>
		    			<p>1分/每日首次登录</p>
		    			<div class="time-score_list_progress" v-cloak>
		    				<span>
		    					<b :style="{width: (loginScore/loginLimit)*100 + '%'}"></b>
		    				</span>
		    				已获{{loginScore}}分/上限{{loginLimit}}分
		    			</div>
		    		</div>
		    		<div class="time-score_list_btn end" v-show="loginScore/loginLimit >= 1.0">已完成</div>
		    	</div>
		    	<div class="time-score_list">
		    		<div class="time-score_list_left" v-cloak>
		    			<h3>分享文章</h3>
		    			<p>2分/每有效分享一篇</p>
		    			<div class="time-score_list_progress">
		    				<span>
		    					<b :style="{width: (shareScore/shareLimit)*100.0 + '%'}"></b>
		    				</span>
		    				已获{{shareScore}}分/上限{{shareLimit}}分
		    			</div>
		    		</div>
		    		<div class="time-score_list_btn end" v-show="shareScore/shareLimit >= 1.0">已完成</div>
		    		<!--<div class="time-score_list_btn" v-show="shareScore/shareLimit < 1.0" @click="toIndex">去看看</div>-->
		    	</div>
		    	<div class="time-score_list">
		    		<div class="time-score_list_left" v-cloak>
		    			<h3>阅读学习</h3>
		    			<p>不超过2分/有效阅读图文一篇</p>
		    			<p>不超过20分/有效观影一部</p>
		    			<div class="time-score_list_progress">
		    				<span>
		    					<b :style="{width: (newsScore/newsLimit)*100.0 + '%'}"></b>
		    				</span>
		    				已获{{newsScore}}分/上限{{newsLimit}}分
		    			</div>
		    		</div>
		    		<div class="time-score_list_btn end" v-show="newsScore/newsLimit >= 1.0">已完成</div>
		    		<div class="time-score_list_btn" v-show="newsScore/newsLimit < 1.0" @click="toStudyPlatform">去看看</div>
		    	</div>
            </div>

		    <div class="time-score_header" v-show="activeTab == 1">
	    		<h3>学习记录</h3>
		    </div>
			<ul class="mui-table-view mui-table-view-striped mui-table-view-condensed score-list time-score_lists" >
		        <li class="mui-table-view-cell" v-for="i in (activeTab==0?scoreList:courseList)" @click="openDetail(i)">
		            <div class="mui-table">
		                <div class="mui-table-cell mui-col-xs-10">
		                    <h4 class="mui-ellipsis" v-text="i.title"></h4>
		                    <p class="mui-h6 mui-ellipsis" v-text="i.time"></p>
		                </div>
		                <div class="mui-table-cell mui-col-xs-2 mui-text-right">
		                    <!--<span class="mui-h5" v-cloak>+{{i.points}}</span>-->
		                </div>
		            </div>
		        </li>
		    </ul>
		    
			<footer class="block-button" @click="getMoreList" v-show="activeTab == 0? bHaveMore_activity: bHaveMore_course" v-show="activeTab == 0">查看更多</footer>
		</div>
	</body>
</html>
<script src="../lib/utils.js"></script>
<script src="../lib/a_ref.js"></script>
