<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title></title>
		<script src="../lib/jquery.min.js"></script>
		<script src="../lib/jsencrypt.min.js"></script>
		<script src="../lib/vue.min.js"></script>
		<script src="../lib/mui.min.js"></script>
		<link href="../lib/mui.min.css" rel="stylesheet" />
		<link href="../lib/swiper.min.css" rel="stylesheet" />
		<link rel="stylesheet" href="../lib/iconfont.css" />
		<link rel="stylesheet" href="../css/style.css" />
	</head>
	<body>
		<!-- 导航栏 -->
		<header class="mui-bar mui-bar-nav">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<h1 class="mui-title">子组织</h1>
		</header>

		<div id="subOrg" class="have-header have-footer activity-panel">
			
			<div class="notice">
				<header @click="openNotices"><i class="iconfont icon-xiaoxi"></i>通知</header>
				<div class="swiper-container notice-swiper">
					<div class="swiper-wrapper">
						<div class="swiper-slide" v-for="i in notices" @click="openNotice(i)">
							<div class="detail">
								<h1 v-text="i.title"></h1>
								<p v-text="i.logtime"></p>
							</div>
						</div>
					</div>
				</div>
			</div>
			
			<ul class="activity-block clearfix">
				<li @click="openActivityChoices"><i class="iconfont icon-huodong"></i>组织活动</li>
				<li @click="openMembers"><i class="iconfont icon-Id"></i>党员管理</li>
				<li @click="openRules"><i class="iconfont icon-ai-book"></i>规章制度</li>
                <li @click="goBack"><i class="iconfont icon-chexiaofanhuichehuishangyibu"></i>返回列表</li>
			</ul>
			
            <p class="tips">累计组织{{summary.activity}}次活动，{{summary.member}}人次参与</p>
			
			
		</div>
		
	</body>
</html>
<script src="../lib/utils.js"></script>
<script src="../lib/swiper.min.js"></script>
<script src="../lib/a_ref.js"></script>

