.ell {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
[v-cloak] {
  display: none;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.mui-bar {
  background-color: #009cff;
}
.mui-bar h1 {
  color: #fff;
  font-weight: 700;
}
.mui-bar a.mui-icon {
  color: #fff;
}
.mui-bar button.mui-btn {
  color: #fff;
}
.mui-slider-text {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 40px;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
  padding-left: 10px;
  box-sizing: border-box;
}
.mui-slider-text p {
  color: #fff;
  line-height: 40px;
  font-size: 14px;
  width: 70%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.mui-table-view .mui-media-object {
  height: 80px;
  line-height: 80px;
  width: 120px;
  max-width: 120px;
}
.mui-bar-nav {
  box-shadow: none;
  -webkit-box-shadow: none;
}
.mui-segmented-control {
  border: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.mui-segmented-control .mui-control-item {
  border: none;
  line-height: 50px;
}
.mui-segmented-control .mui-control-item.mui-active {
  color: #009cff;
  background-color: #fff;
}
dl {
  margin: 0;
}
dl dd {
  margin: 0;
}
